---
layout: default
seo:
  title: Allies | Hakau
  description:
  social_image:
  keywords:
    - sustainable ecommerce
  hide-from-google: true
hero-banner:
  banner1_image: /images/hakau-ecommerce8.jpg
  banner2_image: https://source.unsplash.com/8Ogfqvw15Rg/1600x1600
  background: bg-white
  title: Get to know our allies
  description-1: Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati autem aut ad.
allies:
  ally1_image: https://source.unsplash.com/8Ogfqvw15Rg/1600x1600
  product1_image: https://source.unsplash.com/8Ogfqvw15Rg/1600x1600
  ally1-name: Juan Machica
  ally1-nickname: El jefe de los hilos
  ally1-hometown: Pitumarca / Cusco
  ally1-description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati autem aut ad. Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati autem aut ad. Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati autem aut ad. Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati autem aut ad. Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati autem aut ad. Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati autem aut ad. Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati autem aut ad.
  ally1-cta-name: Shop Ally products
  ally-1-cta-url: 
  ally2_image: /images/hakau-ecommerce13.jpg
  product2_image: /images/hakau-ecommerce12.jpg
  ally2-name: Chincheros Community
  ally2-nickname: El jefe de los hilos
  ally2-hometown: Pitumarca / Cusco
  ally2-description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati autem aut ad. Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati autem aut ad. Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati autem aut ad. Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati autem aut ad. Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati autem aut ad. Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati autem aut ad. Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati autem aut ad.
  ally2-cta-name: Shop Ally products
  ally-2-cta-url: 
  ally3_image: /images/hakau-ecommerce6.jpg
  product3_image: /images/hakau-ecommerce14.jpg
  ally3-name: Pitumarca Community
  ally3-nickname: El jefe de los hilos
  ally3-hometown: Pitumarca / Cusco
  ally3-description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati autem aut ad. Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati autem aut ad. Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati autem aut ad. Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati autem aut ad. Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati autem aut ad. Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati autem aut ad. Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati autem aut ad.
  ally3-cta-name: Shop Ally products
  ally-3-cta-url: 
become-ally:
  title: Become an ally
  description: We work with small businesses and support local economy
  cta-name: Be part of the Hakau Family
  cta-url:
gallery:
  title: Aliados que sostienen al mundo
  description: We believe in a fair trade commerce for everyone
gallery-items:
- column-size: col-4_sm-6_xs-12
  background_image: /images/hakau-ecommerce5.jpg
  popup_image: /images/hakau-ecommerce5.jpg
  text-hover: Jewelry Process
- column-size: col-4_sm-6_xs-12
  background_image: /images/hakau-ecommerce1.jpg
  popup_image: /images/hakau-ecommerce1.jpg
  text-hover: Cusco
- column-size: col-4_sm-6_xs-12
  background_image: /images/hakau-ecommerce4.jpg
  popup_image: /images/hakau-ecommerce4.jpg
  text-hover: Textiles
- column-size: col-6_sm-6_xs-12
  background_image: /images/hakau-ecommerce3.jpg
  popup_image: /images/hakau-ecommerce3.jpg
  text-hover: Family of artisans
- column-size: col-6_sm-6_xs-12
  background_image: /images/hakau-ecommerce2.jpg
  popup_image: /images/hakau-ecommerce2.jpg
  text-hover: House of artisans
---

<!------------------------ BANNER & MENU ------------------>

<header class="header-why">

  {% include header-nav-why.html %}
  
  <div class="grid">

    <div class="col-9 grid">

      <div class="col-12 grid bg-orange">
        <div class="col-8 padded padded-t-lg">
          <div class="padded-t-l">
            <h1 class="margin-b-1">Conoce a<br> nuestros<br> aliados</h1>
          </div>
        </div>
        
        <div class="col-4">
          <div class="bg-image bg-pos-t tall-100" style="background-image:url('{{ page.hero-banner.banner1_image }}')"></div>
        </div>
      </div>

      <div class="col-12">
        <div class="bg-beige padded-md"></div>
      </div>
    
    </div>

    <div class="col-3 grid bg-green">
      <div class="col-12">
        <div class="padded-lg">
          <div class="margin-t-5 margin-b-5"></div>
        </div>
      </div>
      <div class="col-12">
        <div class="bg-image bg-pos-t portrait-md margin-t-10" style="background-image:url('{{ page.hero-banner.banner2_image }}')"></div>
      </div>
    </div>
  
  </div>

</header>

<!--------------------  MOBILE MENU -------------------->

<div class="hamburger show-sm">
  <span class="burger-top"></span>
  <span class="burger-middle"></span>
  <span class="burger-bottom"></span>
</div>

{% include mobile-menu.html %}

<!--------------------  ALLIES -------------------->



<!--------------------  ALLIES -------------------->
  
<section class="bg-beige padded-b">

  <div class="grid padded">

    <!-- ALLY 1 -->
    <div class="col-12 grid">

      <div class="col-8_sm-12 grid">

        <div class="col-6 padded-lg padded-r-0 padded-t-0">
          <div class="bg-image portrait-md bg-radius-200" style="background-image:url('{{ page.allies.ally1_image }}')"></div>
        </div>

        <div class="col-6-bottom padded-lg padded-l-0 md-padded padded-t padded-b margin-allies-neg">
          <div class="hover-container portrait-md bg-radius-200" style="background-image:url('{{ page.allies.product1_image }}')">
          </div>
        </div>

      </div>

      <!-- ALLY STORY -->
      <div class="col-4_sm-12 padded padded-l-0 relative">
        <div>
          <h3 class="uppercase">{{page.allies.ally1-name }}</h3>
          <p>{{page.allies.ally1-nickname }}</p>
          <p>{{page.allies.ally1-hometown }}</p>
        </div>
        <div class="padded-t">
          <p>{{page.allies.ally1-description }}</p>
        </div>
        <div class="margin-t-2">
          <a class="btn btn-orange" href="{{page.allies.ally1-cta-url }}">{{page.allies.ally1-cta-name }}</a>
        </div>
        <div class="peruvian-handmade2">
          <img src="/images/hakau-icon14.png" alt="hakau peruvian handmade">
        </div>
      </div>

    </div>

    <!-- ALLY 2 -->
    <div class="col-12 grid">

      <!-- ALLY STORY -->
      <div class="col-4_sm-12 padded padded-r-0 padded-t-lg relative">
        <div>
          <h3 class="uppercase">{{page.allies.ally2-name }}</h3>
          <p>{{page.allies.ally2-nickname }}</p>
          <p>{{page.allies.ally2-hometown }}</p>
        </div>
        <div class="padded-t">
          <p>{{page.allies.ally2-description }}</p>
        </div>
        <div class="margin-t-2">
          <a class="btn btn-orange" href="{{page.allies.ally2-cta-url }}">{{page.allies.ally2-cta-name }}</a>
        </div>
        <div class="support-small2">
          <img src="/images/hakau-icon3.png" alt="hakau support small buy local">
        </div>
      </div>

      <!-- ALLY IMAGES -->
      <div class="col-8_sm-12 grid">

        <div class="col-6-bottom padded-lg padded-r-0 md-padded padded-t-lg padded-b margin-allies-neg2">
          <div class="hover-container portrait-md bg-radius-200" style="background-image:url('{{ page.allies.product2_image }}')">
          </div>
        </div>

        <div class="col-6 padded-lg padded-l-0 padded-t-lg">
          <div class="bg-image portrait-md bg-radius-200" style="background-image:url('{{ page.allies.ally2_image }}')"></div>
        </div>

      </div>

    </div>

    <!-- ALLY 3 -->
    <div class="col-12 grid">

      <div class="col-8_sm-12 grid">

        <div class="col-6 padded-lg padded-r-0 padded-t-lg">
          <div class="bg-image portrait-md bg-radius-200" style="background-image:url('{{ page.allies.ally3_image }}')"></div>
        </div>

        <div class="col-6-bottom padded-lg padded-l-0 md-padded padded-t-lg padded-b margin-allies-neg3">
          <div class="hover-container portrait-md bg-radius-200" style="background-image:url('{{ page.allies.product3_image }}')">
          </div>
        </div>

      </div>

      <!-- ALLY STORY -->
      <div class="col-4_sm-12 padded padded-l-0 padded-t-lg relative">
        <div>
          <h3 class="uppercase">{{page.allies.ally3-name }}</h3>
          <p>{{page.allies.ally3-nickname }}</p>
          <p>{{page.allies.ally3-hometown }}</p>
        </div>
        <div class="padded-t">
          <p>{{page.allies.ally3-description }}</p>
        </div>
        <div class="margin-t-2">
          <a class="btn btn-orange" href="{{page.allies.ally3-cta-url }}">{{page.allies.ally3-cta-name }}</a>
        </div>
        <div class="hand-heart">
          <img src="/images/hakau-icon26.png" alt="hakau hands holding a heart">
        </div>
      </div>

    </div>

  </div>

</div>

</section>


<!--------------------  BECOME AN ALLY -------------------->

<section>
  <div class="bg-orange white-text padded-md center relative">
    <div class="orange-heart center">
      <img src="/images/hakau-icon25.png" alt="">
    </div>
    <div class="capped-width-v-narrow">
      <h3 class="xlarge-text line-height-md-2">{{page.become-ally.title }}</h3>
      <p>{{page.become-ally.description }}</p>
      <div class="margin-t-3">
        <a class="btn" href="{{page.become-ally.cta-url }}">{{page.become-ally.cta-name }}</a>
      </div>
    </div>
  </div>
</section>

<!--------------------  GALLERY TITLE -------------------->

<section class="padded-b">
  
  <div class="grid capped-width-v-narrow relative padded-t">

    <div class="col-6 border-r-black padded-t-lg"></div>
    <div class="col-6"></div>

    <div class="col-12 center padded">
      <h3 class="large-text uppercase editable">{{page.gallery.title }}</h3>
      <p>{{page.gallery.description }}</p>
    </div>

    <div class="col-6 border-r-black padded-t-lg"></div>
    <div class="col-6"></div>
  </div>

</section>

<!--------------------  POP UP GALLERY -------------------->

<section class="padded center padded-t-1">

  <div class="gallery grid-center padded-1" id="lightgallery">

    {% for item in page.gallery-items %}
    <a class="{{item.column-size }}" href="{{item.popup_image }}">
        <div class="hover-container-gallery" style="background-image:url('{{item.background_image }}')">
            <div class="hover-overlay-gallery">
                <div class="hover-inner-gallery">
                    <h4> {{item.text-hover}} </h4>
                </div>
            </div>
        </div>
    </a>
    {% endfor %}

  </div>
  
</section>