---
layout: default
seo:
  title: Contact | Hakau
  description:
  social_image:
  keywords:
    - sustainable ecommerce
  hide-from-google: true
hero-banner:
  banner1_image: /images/hakau-community12.jpg
  banner2_image: /images/hakau-ecommerce3.jpg
  banner3_image: /images/hakau-peru40.jpg
  background: bg-white
  title: Join our common.unity
  description-1: Contact us
allies:
  ally1_image: https://source.unsplash.com/8Ogfqvw15Rg/1600x1600
  product1_image: https://source.unsplash.com/8Ogfqvw15Rg/1600x1600
  ally1-name: Juan Machica
  ally1-nickname: El jefe de los hilos
  ally1-hometown: Pitumarca / Cusco
  ally1-description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati autem aut ad. Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati autem aut ad. Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati autem aut ad. Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati autem aut ad. Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati autem aut ad. Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati autem aut ad. Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati autem aut ad.
  ally1-cta-name: Shop Ally products
  ally-1-cta-url: 
  ally2_image: https://source.unsplash.com/8Ogfqvw15Rg/1600x1600
  product2_image: https://source.unsplash.com/8Ogfqvw15Rg/1600x1600
  ally2-name: Chincheros Community
  ally2-nickname: El jefe de los hilos
  ally2-hometown: Pitumarca / Cusco
  ally2-description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati autem aut ad. Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati autem aut ad. Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati autem aut ad. Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati autem aut ad. Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati autem aut ad. Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati autem aut ad. Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati autem aut ad.
  ally2-cta-name: Shop Ally products
  ally-2-cta-url: 
  ally3_image: https://source.unsplash.com/8Ogfqvw15Rg/1600x1600
  product3_image: https://source.unsplash.com/8Ogfqvw15Rg/1600x1600
  ally3-name: Pitumarca Community
  ally3-nickname: El jefe de los hilos
  ally3-hometown: Pitumarca / Cusco
  ally3-description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati autem aut ad. Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati autem aut ad. Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati autem aut ad. Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati autem aut ad. Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati autem aut ad. Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati autem aut ad. Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati autem aut ad.
  ally3-cta-name: Shop Ally products
  ally-3-cta-url: 
become-ally:
  title: Become an ally
  description: We work with small businesses and support local economy
  cta-name: Be part of the Hakau Family
  cta-url:
gallery:
  title: Aliados que sostienen al mundo
  description: We believe in a fair trade commerce for everyone
gallery-items:
- column-size: col-4_sm-6_xs-12
  background_image: https://source.unsplash.com/8Ogfqvw15Rg/1600x1600
  popup_image: https://source.unsplash.com/8Ogfqvw15Rg/1600x1600
  text-hover: Community
- column-size: col-4_sm-6_xs-12
  background_image: https://source.unsplash.com/8Ogfqvw15Rg/1600x1600
  popup_image: https://source.unsplash.com/8Ogfqvw15Rg/1600x1600
  text-hover: Cusco
- column-size: col-4_sm-6_xs-12
  background_image: https://source.unsplash.com/8Ogfqvw15Rg/1600x1600
  popup_image: https://source.unsplash.com/8Ogfqvw15Rg/1600x1600
  text-hover: Jewelry Process
- column-size: col-6_sm-6_xs-12
  background_image: https://source.unsplash.com/8Ogfqvw15Rg/1600x1600
  popup_image: https://source.unsplash.com/8Ogfqvw15Rg/1600x1600
  text-hover: House of artisans
- column-size: col-6_sm-6_xs-12
  background_image: https://source.unsplash.com/8Ogfqvw15Rg/1600x1600
  popup_image: https://source.unsplash.com/8Ogfqvw15Rg/1600x1600
  text-hover: Juan Machica
---

<!------------------------ BANNER & MENU ------------------>

<header class="bg-white contact-section">

  {% include header-nav.html %}
  
  <div class="grid padded padded-b-0">

    <div class="col-5_sm-12 padded orange-text">
      <h2 class="margin-b-2">{{page.hero-banner.title }}</h2>
      <h1 class="uppercase margin-t-5">{{page.hero-banner.description-1 }}</h1>
      <!-- CONTACT FORM -->
      <div class="grid contact padded-t">
        
        <div class="col-12">
          <form class="grid-center" action="https://formspree.io/hello@company.com" method="POST">
            <div class="col-12 name-border">
              <input type="text" name="name" placeholder="Your Name">
            </div>
            <div class="col-12 email-border">
              <input type="email" name="_replyto" placeholder="Your Email">
            </div>
            <div class="col-12">
              <textarea placeholder="Hi, I'd like to be part of Hakau..."></textarea>
            </div>
            <div class="col-12">
              <input type="submit" value="Send" class="btn-contact">
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="col-7 grid hide-sm">
      <div class="col-6-top margin-contact-neg2 relative">
        <div class="bg-image square" style="background-image:url('{{ page.hero-banner.banner1_image }}')"></div>
        <!-- SOCIAL ICONS -->
        <div class="social-contact">
          <ul>
            {% for item in site.data.navigation.social %}
                <li><a href="{{item.url }}" target="_blank">
                  <i class="{{item.icon }}"></i>
                </a></li>
                {% endfor %}
          
          </ul>
   
        </div>
      </div>
      <div class="col-6-bottom padded-t-30 margin-contact-neg">
        <div class="bg-image square" style="background-image:url('{{ page.hero-banner.banner2_image }}')"></div>
      </div>
      <div class="col-7-top padded-l-md margin-t-negative">
        <div class="bg-image square" style="background-image:url('{{ page.hero-banner.banner3_image }}')"></div>
      </div>
      
    </div>
    
    <div class="col-12 center sm-padded-lg sm-padded-t xs-padded-lg xs-padded-b-15 show-sm">
      <div class="founders-slider-container">
      <!-----------------SLIDE 1--------------->
          <div class="slider-item col-12 sm-text-center" id="slider-icons">
              <img class="margin-b-2" src="{{page.hero-banner.banner1_image }}" alt="" />
          </div>
      
          <!-----------------SLIDE 2--------------->
          <div class="slider-item col-12 sm-text-center" id="slider-icons">
            <img class="margin-b-2" src="{{page.hero-banner.banner2_image }}" alt="" />
        </div>
      
        <!-----------------SLIDE 3--------------->
        <div class="slider-item col-12 sm-text-center" id="slider-icons">
          <img class="margin-b-2" src="{{page.hero-banner.banner3_image }}" alt="" />
      </div>
          
      </div>
    </div>

  </div>

</header>

<!--------------------  MOBILE MENU -------------------->

<div class="hamburger show-md">
  <span class="burger-top"></span>
  <span class="burger-middle"></span>
  <span class="burger-bottom"></span>
</div>

{% include mobile-menu.html %}

<!--------------------  FAQ -------------------->

<section class="padded-t-lg">

  <div class="grid padded padded-lg bg-orange relative">

    <div class="col-12 padded white-text">

        <img class="faq-icon1" src="/images/hakau-icon35.png" alt="">

        <img class="faq-icon2" src="/images/hakau-icon9.png" alt="">

        <h3 class="xxlarge-text center xxlarge-text-sm">
            Frequently Asked Questions
        </h3>
        <dl class="accordion padded-lg padded-b-0 sm-padded-md">
  
          {% for item in site.data.frequent-questions %}
  
          <dt> {{item.question }}</dt>
          <dd> {{item.answer }}</dd>
        
          {% endfor %}
        
        </dl>
      </div>
    
    
  </div>

</section>