
/* These styles are available in the cloudcannon blog post editor as classes to apply */

img.wide-image {
    margin-left: -5%;
    margin-right: -5%;
}

img.one-third-image {
    display: inline-block;
    width: calc(33% - 1rem);
    margin: 0.5rem;
  }
  
img.one-half-image {
    display: inline-block;
    width: calc(50% - 1rem);
    margin: 0.5rem;
}

img.float-left-image {
    max-width:50%;
    float: left;
    margin: 0 2rem 0.5rem -2rem;
}

img.float-right-image {
    max-width:50%;
    float: right;
    margin: 0 -2rem 0.5rem 2rem;
}

img.small-centered-image {
    max-width: 300px;
    margin:auto;
}


@media(max-width: 767px) {
    .float-right-image, 
    .float-left-image {
      float: none;
      width: margin 0 1rem;
    }
}


a.button {
    display: inline-block;
    text-decoration: none;
    border-radius: 40px;
    color: var(--white);
    background-color: var(--blue);
    padding: 1rem 2rem;
    transition: 0.3s;
    cursor: pointer;
    font-weight: 500;
    font-size: 1rem;
    text-transform: uppercase;
    border: none;
}

a.button:hover {
  background-color: var(--blue);
  color: var(--white);
  box-shadow: 1rem 1rem 2rem rgba(0,0,0,.2);
}


@media(max-width: 767px) {
    .float-right-image, 
    .float-left-image {
      float: none;
      width: margin 0 1rem;
    }
}