---
layout: default
seo:
  title: Inicio | Ingrid Carranza
  description: >-
    Ayudo a empresas, emprendedores y empleados a monetizar + 

    con estrategias en marketing de contenidos, marketing digital y redes
    sociales, sin necesidad de invertir grandes presupuestos.
  social_image: /images/ingrid-web3.jpeg
  keywords:
    - marketing de contenidos
    - marca personal
    - monetizar marca personal
    - linkedin para emprendedores
    - estrategia de contenidos
    - podcast
    - linkedin
    - ebook
    - monetización
    - marca personal
    - marketing digital
  hide-from-google: false
home-banner:
  banner_image: /images/ingrid-web23.png
  reto: false
  titulo-reto: 'Descarga mi E-book gratuito donde te comparto:'
  descripcion-reto: “50 ideas de contenido para tu estrategia de marketing”
  cta-reto: Descargar
  url-reto: https://joinbox.today/form/61d4e448a1d7f40001343a22/61e0cad1186e2a0001185047
mostrar-me-viste: true
me-viste:
  - logo_image: /images/ingrid-carranza-wetravel.png
    image-alt: Logo Wetravel
  - logo_image: /images/ingrid-carranza-netzun.png
    image-alt: Logo Netzun
  - logo_image: /images/ingrid-carranza-ccl.png
    image-alt: Logo Cámara de Comercio de Lima
  - logo_image: /images/ingrid-carranza-upao.png
    image-alt: Logo UPAO
youtube_id: dIWC7VFL5pc
redes-sociales:
  - social-name: Podcast
    social-description: Marketing y Negocios<br> con Ingrid Carranza
    social_url: https://anchor.fm/ingrid220
    social-icon-name: fas fa-microphone
    button-style: button-amarillo
    mostrar-solo-mobile: false
  - social-name: Linkedin
    social-description: 'Aprende algo nuevo y sigue #linkedintipsconingridcarranza'
    social_url: https://www.linkedin.com/in/ingrid-carranza/
    social-icon-name: fab fa-linkedin
    button-style: button-celeste
    mostrar-solo-mobile: false
  - social-name: Instagram
    social-description: Contenido de entretenimiento, tips, stories y más
    social_url: https://www.instagram.com/ingridcarranzamarketing/
    social-icon-name: fab fa-instagram
    button-style: button-fresa
    mostrar-solo-mobile: false
  - social-name: Youtube
    social-description: lives semanales sobre marketing y negocios
    social_url: https://www.youtube.com/user/KattyCarranza
    social-icon-name: fab fa-youtube
    button-style: button-rojo
    mostrar-solo-mobile: false
servicios:
  banner_image: /images/ingrid-web5.jpeg
  button-link: https://wa.link/s8mx27
lista-servicios:
  - servicio: >-
      Consultorías y asesorías en estrategia de contenidos en Linkedin e
      Instagram.
  - servicio: Redacción y optimización de perfiles en Linkedin.
  - servicio: Consultorías y asesorías para prospectar en Linkedin.
  - servicio: Consultorías y asesorías para monetizar con tu conocimiento.
  - servicio: >-
      Consultorías en planes de marketing digital para empresas y
      emprendimientos.
  - servicio: Pack de contenidos mensuales para redes sociales.
  - servicio: Redacción de artículos.
  - servicio: >-
      Asesorías y consultorías en estrategia y planes de contenido en redes
      sociales.
  - servicio: Planificación y lanzamiento para podcast y lives.
  - servicio: Mentorías 1:1 en marca personal.
  - servicio: Branding, website y diseño para redes sociales.
  - servicio: >-
      Talleres, ponencias, cursos online o presenciales en marketing digital,
      marca personal, redes sociales, podcast, lives y video marketing.
servicios-pagados: false
comprar-servicios:
  - servicio-title: Asesoría personalizada en LinkedIn
    servicio-description: Agregar aquí un texto destacado, que impulse a la compra.
    servicio-para-quien: Para quién va dirigido este servicio o taller.
    incluye-text: 'Incluye:'
    list-incluye:
      - list-text: Questionnaire + Discovery Call
      - list-text: Questionnaire + Discovery Call
      - list-text: Questionnaire + Discovery Call
      - list-text: Questionnaire + Discovery Call
    final-text: Descarga el brochure para ver todo lo que incluye.
    button-comprar-url: /index
    button-comprar-title: Comprar Asesoría
    button-brochure-url: /index
    button-brochure-title: Descargar Brochure
  - servicio-title: Asesoría personalizada en LinkedIn
    servicio-description: Agregar aquí un texto destacado, que impulse a la compra.
    servicio-para-quien: Para quién va dirigido este servicio o taller.
    incluye-text: 'Incluye:'
    list-incluye:
      - list-text: Questionnaire + Discovery Call
      - list-text: Questionnaire + Discovery Call
      - list-text: Questionnaire + Discovery Call
      - list-text: Questionnaire + Discovery Call
    final-text: Descarga el brochure para ver todo lo que incluye.
    button-comprar-url: /index
    button-comprar-title: Comprar Asesoría
    button-brochure-url: /index
    button-brochure-title: Descargar Brochure
  - servicio-title: Asesoría personalizada en LinkedIn
    servicio-description: Agregar aquí un texto destacado, que impulse a la compra.
    servicio-para-quien: Para quién va dirigido este servicio o taller.
    incluye-text: 'Incluye:'
    list-incluye:
      - list-text: Questionnaire + Discovery Call
      - list-text: Questionnaire + Discovery Call
      - list-text: Questionnaire + Discovery Call
      - list-text: Questionnaire + Discovery Call
    final-text: Descarga el brochure para ver todo lo que incluye.
    button-comprar-url: /index
    button-comprar-title: Comprar Asesoría
    button-brochure-url: /index
    button-brochure-title: Descargar Brochure
  - servicio-title: Asesoría personalizada en LinkedIn
    servicio-description: Agregar aquí un texto destacado, que impulse a la compra.
    servicio-para-quien: Para quién va dirigido este servicio o taller.
    incluye-text: 'Incluye:'
    list-incluye:
      - list-text: Questionnaire + Discovery Call
      - list-text: Questionnaire + Discovery Call
      - list-text: Questionnaire + Discovery Call
      - list-text: Questionnaire + Discovery Call
    final-text: Descarga el brochure para ver todo lo que incluye.
    button-comprar-url: /index
    button-comprar-title: Comprar Asesoría
    button-brochure-url: /index
    button-brochure-title: Descargar Brochure
reserva-llamada:
  reserva_url: https://calendly.com/ingridcarranza
testimonios-section: true
testimonio-banner_image: /images/ingrid-web5.jpeg
testimonios:
  - texto: >-
      Ingrid is a gem! Her over 10 years of experience in content marketing,
      digital marketing, and marketing strategy are definitely reflected in the
      quality of her work. I met Ingrid a few months ago and quickly noticed
      that she was highly skilled in what she does. Her desire to truly
      understand my problem and craft a content schedule to meet what we needed
      for our business was amazing. She thinks outside of the box and prides
      herself and giving her clients what they need to take their business to
      the next step. I intend to continue working with Ingrid; other than
      providing great services she is an all-around great person with a great
      attitude that is a pleasure to work with. If you're considering hiring
      her, DO IT! 
    nombre-cliente: Lola Turner
    testimonial_image: images/cliente-ingrid-carranza2.jpeg
    alt: Cliente Ingrid Carranza
  - texto: >-
      Ingrid es una excelente profesional, apasionada por facilitar y acompañar
      a expertos y líderes de negocios en el desarrollo de su marca personal.
      Con excelentes habilidades y capacidades en comunicación, marketing y
      desarrollo de talento. Sin duda es un placer formar parte de la red
      profesional de Ingrid Carranza, cuyos servicios y expertise recomiendo
      100%. Continuamos fortaleciendo nuestra unión con profesionalidad y
      efectiva orientación al cliente.
    nombre-cliente: Alejandra García De Lope
    testimonial_image: images/cliente-ingrid-carranza1.jpeg
    alt: Cliente Ingrid Carranza
  - texto: >-
      He sentido que estuve perdiendo el tiempo, hasta que encontré a Ingrid.
      Soy Argentina y Gracias a la virtualidad nos hemos encontrado. Ingrid es
      mi primera mentora, al trabajar con ella comencé a armar mi plan de
      contenidos y mi marca personal con mucho más sentido. Además, tiene una
      enorme capacidad para aportar valor en todo lo que enseña y con gran
      calidad humana. ¡Gracias por tanto Ingrid! 
    nombre-cliente: Marcela Pretel
    testimonial_image: images/cliente-ingrid-carranza3.jpeg
    alt: Cliente Ingrid Carranza
  - texto: >-
      Ingrid fue una asombrosa mentora para los socios del IMEF Universitario
      UCC y UAEMÉX FE. Nos enseñó como potenciar nuestra imagen personal a
      través de las redes sociales. Además, se mostró muy accesible desde el
      primer momento que contacté con ella, sin duda recomiendo su trabajo,
      estoy muy agradecida con ella. Su ponencia fue didáctica y nos fuimos muy
      felices y entusiasmados para aplicar sus consejos. 
    nombre-cliente: Ana Guadalupe Guzmán Guevara
    testimonial_image: images/cliente-ingrid-carranza4.jpeg
    alt: Cliente Ingrid Carranza
  - texto: >-
      Ingrid preparó un seminario sobre estrategia de Redes Sociales para
      cientos de Tour Operadores de Latinoamérica, a pedido de la empresa
      WeTravel INC. La capacitación fue de una calidad excepcional. Ingrid tiene
      la capacidad innata de motivar a los estudiantes a participar de una forma
      activa, explica conceptos técnicos de una manera muy simple y práctica y
      recibimos comentarios excepcionales por parte de los participantes.

      No tan solo es el gran conocimiento que posee en la materia, sino su
      capacidad de transmitirlo y motivar a los estudiantes a participar, lo
      cual hace de la sesión algo muy didáctico y ameno.

      Espero colaborar muy pronto con ella nuevamente y la recomiendo a ojos
      cerrados a quienes quieran recibir consultorías en todo lo relacionado al
      Marketing digital y marca personal!!
    nombre-cliente: Maria Claudia Lira Alban
    testimonial_image: images/cliente-ingrid-carranza5.jpeg
    alt: Cliente Ingrid Carranza
  - texto: >-
      Ingrid is a special marketer that understands how today’s consumer can be
      reached. I’ve known and worked with Ingrid for over 2 years over and my
      experience with her is that she is professional, personal, and a critical
      thinker. I was thoroughly impressed with her strategic marketing skills.
      Her attention to details and emotional intelligence captured the essence
      of our company’s programming and core values. I highly recommend Ingrid to
      fulfill any of your marketing and branding needs.
    nombre-cliente: Rashard Rabsatt
    testimonial_image: images/cliente-ingrid-carranza6.jpeg
    alt: Cliente Ingrid Carranza
  - texto: >-
      Ingrid es una profesional experta en Marketing y siempre está a la
      vanguardia con las últimas tendencias. Recomiendo a Ingrid porque es muy
      detallista y comprometida en las necesidades de sus clientes, es un gusto
      conocerla y aprender de ella, ¡Muchos éxitos!
    nombre-cliente: Danitza Campos
    testimonial_image: images/cliente-ingrid-carranza7.jpeg
    alt: Cliente Ingrid Carranza
cta-final:
  button-title: Conversemos
  button-link: https://wa.link/s8mx27
mostrar-sala-prensa: true
sala-prensa:
  - background_image: /images/ingrid-carranza-entrevista5.jpg
    hover-cta: Lee el artículo aquí
    title: Top 10 Marketers Hispanoamérica
    button-url: >-
      http://www.marketersbyadlatina.com/articulo/1231-quien-es-quien-en-el-marketing-de-ecommerce
  - background_image: /images/ingrid-carranza-entrevista1.jpg
    hover-cta: Lee el artículo aquí
    title: Monetiza tu marca personal
    button-url: https://www.linkedin.com/pulse/monetiza-tu-marca-personal-danitza-campos/
  - background_image: /images/ingrid-carranza-entrevista3.jpg
    hover-cta: Lee el artículo aquí
    title: La importancia de utilizar LinkedIn como estudiante
    button-url: >-
      https://yocomunicadorupao.edu.pe/ingrid-carranza-la-importancia-de-utilizar-linkedin-como-estudiante/
  - background_image: /images/ingrid-carranza-entrevista2.jpg
    hover-cta: Lee el artículo aquí
    title: Entrevista al abogado Gunther Sanabria
    button-url: >-
      https://eltiempolatino.com/2021/10/18/local/buscar-trabajo-consejos-experto-abogado-sanabria/
  - background_image: /images/ingrid-carranza-entrevista7.jpg
    hover-cta: Lee el artículo aquí
    title: Entrevista al escritor y profesor universiatrio, Ilan Stavans
    button-url: >-
      https://elplaneta.com/news/2021/nov/09/un-politico-de-texas-quiere-investigar-mas-de-800-libros-y-un-escritor-latino-lo-invita-a-un-debate-publico/
  - background_image: /images/ingrid-carranza-entrevista6.jpg
    hover-cta: Lee el artículo aquí
    title: 7 habilidades que debes fortalecer como creador de contenidos
    button-url: https://www.linkedin.com/feed/update/urn:li:activity:6818538929860546560/
  - background_image: /images/ingrid-carranza-entrevista4.jpg
    hover-cta: Lee el artículo aquí
    title: Fortalece tus conocimientos en marketing digital
    button-url: >-
      https://www.linkedin.com/posts/ingrid-carranza_newsletter-linkedinarticuloslatam-marketing-activity-6798624496065638400-rrG1/
  - background_image: /images/ingrid-carranza-entrevista0.jpg
    hover-cta: Lee el artículo aquí
    title: Despegar.com incorporará alquiler de autos a sus paquetes turísticos
    button-url: >-
      https://gestion.pe/economia/empresas/despegar-com-incorporara-alquiler-autos-paquetes-turisticos-piura-trujillo-arequipa-95545-noticia/
timeline-1:
  - year: 2009
    description: >-
      He laborado en áreas de marketing y comercial, aprendiendo y compartiendo
      mi conocimiento, liderando diversos proyectos con equipos de Estados
      Unidos, Argentina, Brasil, Colombia, Chile, Ecuador, México y Venezuela.
  - year: 2013
    description: >-
      Mi Alma Mater me distinguió como “Egresada de éxito” con Diploma y Medalla
      de Honor.
  - year: 2016
    description: >-
      En el 2016 la website Marketers by AdLatina me nombró dentro de la lista
      “Top 10 Marketers Latinos de Iberoamérica”.
  - year: 2018
    description: >-
      Salí de mi zona de confort y me mudé a Estados Unidos, empecé trabajando
      como Consultora de Marketing en una reconocida compañía en el rubro
      seguros y banca online.
timeline-2:
  - year: 2021
    description: >-
      Lancé mis servicios profesionales donde “Ayudamos a empresarios,
      emprendedores y empleados a monetizar con su Marca Personal, Redes
      Sociales y Marketing Digital, sin necesidad de dominar el Marketing”. <br>
      <br> También soy periodista y escritora en “El Tiempo Latino partner de
      The Washington Post”, docente universitaria y co-autora del Ebook “El
      Poder del Networking” que pronto se publicará en Amazon.com. <br> <br> Así
      mismo, soy mentora en Score.org, partner de Small Business Administration
      en los Estados Unidos. <br> <br>Estoy estudiando una certificación en ADC
      Consultores avalado por Florida Global University.
  - year: 2022
    description: >-
      Lanzamiento del Ebook: Marca Personal - El Poder del Networking <br> <br> 

      Lanzamiento del Podcast “Marketing y Negocios con Ingrid Carranza”. <br>
      <br> Taller "El Poder de tu Marca Personal para tu Emprendimiento" <br>
      <br> Taller "Creación de Contenido en LinkedIn" <br> <br> Fundación de la
      empresa Marketingtech360 <br> <br> Todo lo mencionado se complementa con
      mi Maestría en Dirección de Marketing y Gestión Comercial y Licenciatura
      en Ciencias de la Comunicación.
mostrar-certificaciones: true
certificaciones:
  - logo_image: /images/ingrid-carranza-certificacion-adc.png
    alt: Certificación en ADC Consultores
banner-final_image: /images/ingrid-web1.jpg
texto-footer:
  titulo-contacto: Me encantaría saber de ti
  titulo-contacto-2: y tus proyectos
  texto-hispanos: >-
    Ayudo a empresas, emprendedores y empleados a monetizar + con estrategias de
    Marketing de Contenidos, Marca Personal y Redes Sociales, sin necesidad de
    dominar el Marketing.
---

<!------------------------ BANNER & MENU ------------------>

<header class="grid tall-100 tall-60-md tall-50-sm bg-fresa">

    {% include header-nav.html %}

    <div class="col-12 grid flex-wrap-md">

      <div class="col-4_md-12 left md-text-center relative">
        <div class="home-banner">
          <img src="{{page.home-banner.banner_image }}" />
        </div>
      </div>
  
      <div class="col-8_md-12 grid-center">
          <div class="col-9_sm-12 padded-l-0 padded-b-0 padded-r-0 padded-t-0 sm-padded line-height-h1 md-text-center sm-padded-b-lg sm-padded-t-lg md-padded md-padded-b-1 margin-t-negative-3">
              <h1 class="big-bold-b">
                “Ayudo a empresas, emprendedores y empleados a monetizar + con estrategias de Marketing de Contenidos, Marca Personal y Redes Sociales, <span class="big-bold-a">sin necesidad de dominar el Marketing</span> ”
              </h1>
          </div>
  
          <div class="col-3 hide-md"></div>

          <div class="col-5 hide-md"></div>
        
        <!-- RETO -->

        {% if page.home-banner.reto == true %}
        <div class="col-6_md-12 padded-r-2 padded-t-0 padded-b-0 relative hide-md relative">
            <div class="bg-beige padded-md padded-b-1 bg-radius-md">
                <h4 class="small-text uppercase line-height-lg">{{page.home-banner.titulo-reto }}</h4>
                <p>{{page.home-banner.descripcion-reto }}</p>
                
                <a href="{{page.home-banner.url-reto }}" target="_blank" class="button-amarillo">{{page.home-banner.cta-reto }}</a>
            </div>

            <div class="ebook">
              <img src="images/ingrid-carranza-ebook.png" alt="Ingrid Carranza Ebook" />
            </div>

        </div>
        {% endif %}

        <div class="col-1 hide-md"></div>

    </div>
  
        
    </div>

    <!-- RETO -->

    {% if page.home-banner.reto == true %}
    <div class="col-12 padded relative show-md center padded-t-0">
        <div class="bg-beige padded sm-padded-md-2 bg-radius-md">
            <h4 class="small-text uppercase line-height-lg">{{page.home-banner.titulo-reto }}</h4>
            <p class="xs-text">{{page.home-banner.descripcion-reto }}</p>
            <a href="{{page.home-banner.url-reto }}" target="_blank" class="button-inverted-2">{{page.home-banner.cta-reto }}</a>
        </div>
    </div>
    {% endif %}

</header>

<div class="hamburger show-sm">
    <span class="burger-top"></span>
    <span class="burger-middle"></span>
    <span class="burger-bottom"></span>
</div>


<!--------------------  Mobile Menu -------------------->

{% include mobile-menu.html %}

<!------------------------ ME HAS VISTO EN ------------------>

{% if page.mostrar-me-viste == true %}

<section class="bg-yellow tall-40 tall-30-md tall-25-sm grid">
    <div class="col-12 padded-b-0 padded-t center sm-padded-lg sm-padded-b">
        <h4 class="big-text editable">
             Me puedes haber visto en:
        </h4>
    </div>
    <div class="col-12 center logo-company sm-padded-b">

        {% for item in page.me-viste %}
        
            <img class="padded-sm sm-padded-b-0 sm-padded-t-0" src="{{item.logo_image }}" alt="{{item.image-alt }}" />
        
        {% endfor %}
        
    </div>
</section>

{% endif %}

<!------------------------ REDES SOCIALES ------------------>

<section class="bg-beige padded-t padded-b overflow-x">

    <div class="grid padded sm-padded-b-5 md-padded-b-lg">

        <div class="col-7_md-12 padded-sm">
            <div class='embed-container'>

                <iframe src="https://www.youtube.com/embed/{{page.youtube_id }}" frameborder="0" allowfullscreen></iframe>
          
            </div>
        </div>
    
        <div class="col-5_md-12 grid-middle relative">

            <div class="col-12 md-text-center sm-padded-t-lg">
                <h3 class="big-text editable padded-sm md-padded-t-lg">
                     &iexcl;Aprende algo nuevo<br />cada <span class="underlined">semana!</span>
                </h3>
                <div class="margin-b-2">
                </div>
            </div>

            <div class="col-12 padded padded-l-0 sm-text-center sm-padded-r-0 grid">

                {% for item in page.redes-sociales %}
                <div class="col-6_xs-12 padded-sm {% if item.mostrar-solo-mobile == true %} show-sm {% endif %}">
                    <a href="{{item.social_url }}" class="{{item.button-style }}">
                        {{item.social-name }}
                        <i class="{{item.social-icon-name }}"></i>
                        <p class="subtitle-2">{{item.social-description }}</p>
                    </a>
                </div>
                {% endfor %}
                
            </div> 
            
            <div class="redes-logo hide-md">
              <img src="images/ingrid-web12.png" alt="Ingrid Carranza Logo" />
            </div>
            
            
        </div>

    </div>
  
</section>

<!--------------------- SLIDER MARCA PERSONAL ------------------>

<!-- {% if page.slider-propuesta-valor == true %}

<section class="bg-beige">

    <div class="grid relative padded-b">

        <div class="col-4_md-2_sm-12-middle padded">
            <h3>
                <span class="big-text-float md-big-text-outline editable">Tu marca personal es<br /></span>
                <span class="big-text-float-2 big-text-outline xs-no-outline editable">tu principal activo</span>
            </h3>
        </div>

        <div class="col-4_md-5_sm-12 padded-sm">
            <div class="bg-image portrait sm-square bg-pos-t" style="background-image:url('{{ page.slider-marca.banner_image }}')">

            </div>
        </div>

        <div class="col-4_md-5_sm-12-middle padded marca-slider-container">

            {% for item in page.slider-texto %}

            <div class="slider-item">
                <span>{{item.numero-slider }}</span>
                <h3>{{item.titulo-slider }}</h3>
                <p>{{item.descripcion-slider }}</p>
            </div>

            {% endfor %}

        </div>

    </div>
    
</section>

{% endif %} -->

<!--------------------- SERVICIOS  ------------------>

<section class="bg-yellow servicios-wave" id="servicios">

  <div class="grid flex-wrap-md">

    <div class="col-6_sm-12 grid">

      <div class="col-12 padded-lg padded-b">

        <h2 class="medium-text editable line-height-md-2 margin-b-3">
             Servicios profesionales<br />&iquest;En qu&eacute; puedo ayudarte?
        </h2>
        <ul class="line-height-lg padded-l-1 bullet">

          {% for item in page.lista-servicios %}

          <li class="margin-b-05">{{item.servicio }}</li>

          {% endfor %}

        </ul>

        <a href="{{page.servicios.button-link }}" class="button-beige margin-t-2">Escríbeme</a>

      </div>

    </div>

    <div class="col-6_sm-12 grid">

      <div class="col-12 hover-image-container">
        <div class="bg-image-hover tall-100 tall-60-sm bg-pos-t tall-40-xs" style="background-image:url('{{ page.servicios.banner_image }}')"></div>
      </div>
      
    </div>

  </div>


</section>

<!--------------------- PAID SERVICES ------------------>

{% if page.servicios-pagados == true %}

<section class="bg-yellow sm-padded-t-lg">

  <div class="grid padded padded-b-0">

    <div class="col-12 right padded-r padded-l padded-b-1">
      <p class="uppercase editable">Desliza para ver más servicios  <i class="fas fa-arrow-circle-right fresa-text"></i></p>
    </div>

      <div class="col-12 grid-equalHeight horizontal-scroll">
    
        <!--    CARD 1    -->
        {% for item in page.comprar-servicios %}
        <div class="col-4_md-7_sm-7_xs-10 padded-sm padded-t-1"> 
            <div class="card padded">
            
                <div class="padded">
                    <h3 class="medium-text"> {{item.servicio-title }} </h3>
                    <h4 class="small-text-3 bold line-height-md-2">{{item.servicio-description }}</h4>
                    <p> {{item.servicio-para-quien }} </p>
                    <h5 class="small-text-3">{{item.incluye-text }}</h5>
                    <hr class="paid-services" />
                    <ul class="services-list padded-l-1"> 
                      {% for listincluye in item.list-incluye %}
                        <li>{{listincluye.list-text }}</li>
                      {% endfor %}
                    </ul>
                    <p class="subtitle-2">{{item.final-text }}</p>
                </div>
                
                <div class="padded padded-t-0 center">
                    <a href="{{item.button-comprar-url }}" class="button-fresa"> {{item.button-comprar-title }} </a>
                </div>
                <div class="padded padded-t-0 center">
                  <a href="{{item.button-brochure-url }}" download class="button-amarillo"> {{item.button-brochure-title }} </a>
              </div>
               
                
            </div>
        </div>
        {% endfor %} 
    </div>

  </div>

</section>

{% endif %}

<!--------------------- BOOK A CALL ------------------>
<div class="wave-container">
  <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1440 320"><path fill="#499DD0" fill-opacity="1" d="M0,128L80,160C160,192,320,256,480,245.3C640,235,800,149,960,122.7C1120,96,1280,128,1360,144L1440,160L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z" /></svg>

</div>

<section class="bg-blue padded-lg padded-b padded-t-0 sm-padded-t-lg sm-padded-b-lg">

      <div class="center">
            <h4 class="medium-text beige-text editable book-call">
                 Haz crecer tu negocio a trav&eacute;s tu marca personal, tu activo m&aacute;s importante, toma acci&oacute;n y empieza a generar nuevas l&iacute;neas de ingresos.
            </h4>
  
            <a href="" onclick="Calendly.initPopupWidget({url: '{{page.reserva-llamada.reserva_url }}'});return false;" class="button-beige margin-t-2">RESERVA AQUí</a>
        
      </div>


</section>

<!-- <section class="bg-beige padded-t-lg" id="mi-historia">

  <div class="grid">
      <div class="col-8_md-10 padded padded-t-0 right">
          <div class="timeline-border padded padded-t-0 padded-l-lg relative overflow">
              <span class="timeline-bullet"></span>
              <p class="big-text margin-b-0 editable" data-aos="fade-up" data-aos-duration="600">Desde el 2009</p>
              <p class="editable" data-aos="fade-up" data-aos-duration="600">He laborado en áreas de marketing y comercial, aprendiendo y compartiendo mi conocimiento, liderando diversos proyectos con equipos de Estados Unidos, Argentina, Brasil, Colombia, Chile, Ecuador, México y Venezuela.</p>
          </div>

          <div class="timeline-border padded padded-t-0 padded-l-lg relative overflow">
            <span class="timeline-bullet"></span>
            <p class="big-text margin-b-0 editable" data-aos="fade-up" data-aos-duration="600">2013</p>
            <p class="editable" data-aos="fade-up" data-aos-duration="600">Mi Alma Mater me distinguió como “Egresada de éxito” <br />con Diploma y Medalla de Honor</p>
        </div>

          <div class="timeline-border padded padded-t-0 padded-l-lg relative overflow">
              <span class="timeline-bullet"></span>
              <p class="big-text margin-b-0 editable" data-aos="fade-up" data-aos-duration="600">2018</p>
              <p class="editable" data-aos="fade-up" data-aos-duration="600">Salí de mi zona de confort y me mudé a Estados Unidos, empecé trabajando como Consultora de Marketing en una reconocida compañía en el rubro seguros y banca online.</p>

              <div class="timeline-image">
                <img src="{{ page.mi-historia.segunda_image }}" data-aos="fade-up" data-aos-duration="600">
              
          
          

          <div class="timeline-border padded padded-t-0 padded-l-lg relative overflow">
            <span class="timeline-bullet"></span>
            <p class="big-text margin-b-0 editable" data-aos="fade-up" data-aos-duration="600">2021</p>
          
            <p class="editable" data-aos="fade-up" data-aos-duration="600">Soy fundadora de Marketingtech360, ayudamos a empresarios, emprendedores y profesionales dependientes hispanos a vender + con: Marca Personal, Marketing Digital, Redes Sociales, LinkedIn y más.</p>

            <p class="editable" data-aos="fade-up" data-aos-duration="600">También soy periodista y escritora en “El Tiempo Latino partner de The Washington Post”, soy docente universitaria y co-autora del Ebook “El Poder del Networking” que pronto se publicará en Amazon.com.</p>

            <p class="editable" data-aos="fade-up" data-aos-duration="600">Así mismo, soy mentora en Score.org, partner de<br /> Small Business Administration en los Estados Unidos.</p>

            <p class="editable" data-aos="fade-up" data-aos-duration="600">Soy Licenciada en Ciencias de la Comunicación y tengo una Maestría en Dirección de Marketing y Gestión Comercial.</p>

            <p class="editable" data-aos="fade-up" data-aos-duration="600">Estoy estudiando una certificación en ADC Consultores avalado por Florida Global University.</p>
          
            <div class="timeline-image">
              <img src="{{ page.mi-historia.tercera_image }}" data-aos="fade-up" data-aos-duration="600" />
            </div>
        </div>
          
      

      <div class="col-4_md-2">
          <div class="timeline-vertical">
              <h3 class="big-text-outline editable"> Esta es mi historia</h3>
          </div>
      </div>

  
  
 -->

<!--------------------- SLIDER TESTIMONIOS ------------------>

{% if page.testimonios-section == true %}

<section class="bg-white padded-lg padded-b sm-padded md-padded sm-padded-t-xlg" id="testimonios">

    <div class="grid relative padded-b">

        <div class="col-12 padded padded-b-0 center">
            <h3 class="big-text uppercase editable">
                 TESTIMONIOS
            </h3>
        </div>

        <div class="col-12 grid horizontal-scroll hide-sm">

            {% for item in page.testimonios %}

            <div class="col-12 grid-middle">

              <div class="col-5 padded padded-l-lg md-padded-t-1 md-padded-b-1 md-padded relative">

                <img class="testimonial-image" src="{{item.testimonial_image }}" alt="{{item.alt }}" />

                <div class="frase-icons2">
                  <img src="images/ingrid-carranza-icons2.png" alt="Ingrid Carranza Icons" />
                </div>

              </div>

              <div class="col-7 padded-lg padded-l-0 md-padded-t-1 md-padded-b-1 md-padded">

                  <p class="xs-text margin-b-1">{{item.texto }}</p>
                  <p class="testimonial-name margin-b-0">{{item.nombre-cliente }}</p>

              </div>
                    
            </div>

            {% endfor %}

        </div>

        <div class="grid padded-1 horizontal-scroll show-sm-flex">

          {% for item in page.testimonios %}
      
          <div class="col-12 padded-md padded-b">
            <div class="padded-t-lg">
              <img src="{{item.testimonial_image }}" alt="{{item.alt }}" class="testimonial-image padded" />
              <p class="sm-paragraph">{{item.texto }}</p>
              <p class="testimonial-name"> {{item.nombre-cliente }} </p>
              <div class="frase-icons2">
                  <img src="images/ingrid-carranza-icons2.png" alt="Ingrid Carranza Icons" />
              </div>
            </div>
          </div>
      
          {% endfor %}
      
      
        </div>

    </div>
    
</section>

{% endif %}

<!------------------------ SUSCRIBETE ------------------>

<!-- {% if page.suscribete == true %}
<section class="center padded bg-beige">
    <h3 class="editable"> Subscríbete </h3>
    <p class="editable"> This one could be connected to your email newsletter, like mailchimp or mailerlite or just a standard email form. </p>
  
    <form class="email-signup" action="https://formspree.io/your@email.com" method="POST">
      <input type="text" name="name" placeholder="Nombre y apellido" />
      <input type="email" name="_replyto" placeholder="E-mail" />
      <input type="submit" value="Suscribirme" class="button" />
    </form>
  
</section>
{% endif %} -->

<!--------------------- FRASE ------------------>

<section class="bg-fresa padded-b-lg">
  
  <div class="grid capped-width-v-narrow relative">

    <div class="col-6 border-black padded-t-lg"></div>
    <div class="col-6"></div>

    <div class="col-12 center padded-lg small-text-1">
      <h3 class="editable medium-text margin-b-2">
           &iquest;C&oacute;mo ser&iacute;a tu vida si tuvieras un negocio estable y rentable?
      </h3>
      <p class="editable">
           Una vida en donde trabajas en lo que te gusta y adem&aacute;s monetizas con ella. Por tanto, has logrado el equilibrio perfecto. Sabes donde est&aacute;s, qu&eacute; quieres lograr y c&oacute;mo hacerlo.
      </p>
    </div>

    <div class="col-6 border-black padded-t-lg"></div>
    <div class="col-6"></div>

    <div class="col-12 center padded-lg padded-r padded-l sm-padded-lg small-text-1">
      <h3 class="editable medium-text margin-b-2">
           Sin embargo, tu realidad es diferente
      </h3>
      <p class="editable">
           Sientes frustraci&oacute;n
      </p>
      <p class="editable">
           Sientes miedo
      </p>
      <p class="editable">
           Tienes dudas
      </p>
      <p class="editable">
           No tienes claro lo que quieres hacer
      </p>
      <p class="editable">
           No lograr aterrizar tus ideas
      </p>
      <p class="editable">
           No tienes a nadie que te diga si lo estas haciendo bien o que debes mejorar
      </p>
      <p class="editable">
           No has podido desarrollar una gu&iacute;a que te lleve a un plan aterrizado, por tanto, tu negocio est&aacute; paralizado y sin una ruta.
      </p>
    </div>

    <div class="col-6 border-black padded-t-lg"></div>
    <div class="col-6"></div>

    <div class="col-12 center padded-lg padded-r padded-l relative">
      <h3 class="editable medium-text margin-b-2 beige-text">
           &iexcl;Yo te puedo ayudar a cambiar eso!
      </h3>
      <a href="{{page.cta-final.button-link }}" class="button-beige">{{page.cta-final.button-title }}</a>
      <!-- <div class="frase-icons">
        <img src="images/ingrid-carranza-icons1.png" alt="Ingrid Carranza Icons" />
      </div> -->
    </div>

    <div class="frase-logo">
      <img src="images/ingrid-web12.png" alt="Ingrid Carranza Logo" />
    </div>

  </div>

</section>

<!------------------------ SALA DE PRENSA ------------------>

{% if page.mostrar-sala-prensa == true %}

<section class="bg-beige padded-lg" id="sala-de-prensa">

  <div class="grid bg-yellow padded bg-radius-md">

    <div class="col-12 grid-middle">

      <div class="col-5_sm-12 padded-r sm-padded sm-padded-t-lg">

        <h3 class="medium-text editable">
             Sala de Prensa
        </h3>
        <p class="editable">
             Aqu&iacute; encontrar&aacute;s noticias y entrevistas que me hicieron. Adem&aacute;s, mi faceta de periodista con mis notas y entrevistas a especialistas.
        </p>

      </div>

      <div class="col-7_sm-12 grid horizontal-scroll">

        {% for item in page.sala-prensa %}
        <div class="col-5_md-8_sm-9_xs-11 padded-sm padded-l sm-padded-t-lg">
          <a href="{{item.button-url }}" target="_blank">
            <div class="hover-container bg-radius-md" style="background-image:url('{{ item.background_image }}')">
              <div class="hover-overlay bg-radius-md">
                  <div class="hover-inner center">
                      <p> {{item.hover-cta }} </p>
                  </div>
              </div>
              </div>
              <div class="padded">
                  <h5 class="small-text-3">{{item.title }} </h5>
              </div>
          </a>
            
        </div>

        {% endfor %}

      </div>

    </div>

  </div>

</section>

{% endif %}

<!------------------------ TIMELINE ------------------>

<section class="bg-beige padded-lg sm-padded-md padded-t" id="mi-historia">

  <div class="grid-middle">

    <div class="col-6_sm-12 grid">

      <h3 class="big-text uppercase editable margin-b-2 padded-b">
           ESTA ES MI HISTORIA
      </h3>

      {% for item in page.timeline-1 %}
      <div class="col-12 margin-b-1" data-aos="fade-up" data-aos-duration="500">
        <p class="medium-text">{{item.year }}</p>
      </div>
      <div class="col-12 timeline-border margin-b-2 padded-r-xlg sm-padded-r" data-aos="fade-up" data-aos-duration="500">
        <p class="sm-paragraph padded-l-1">{{item.description }}</p>
      </div>
      {% endfor %}

    </div>

    <div class="col-6 historia-image1 center padded-b-lg hide-sm">
      <img src="/images/ingrid-carranza-historia.png" alt="Ingrid Carranza Historia" />
    </div>

  </div>

  <div class="grid-middle">

    <div class="col-6_sm-12 historia-image2 center padded-b-lg padded-r-lg padded-l-0">
      <img src="/images/ingrid-carranza-2022.png" alt="Ingrid Carranza Historia" />
    </div>

    <div class="col-6_sm-12 grid">

      {% for item in page.timeline-2 %}
      <div class="col-12 margin-b-1" data-aos="fade-up" data-aos-duration="600">
        <p class="medium-text">{{item.year }}</p>
      </div>
      <div class="col-12 timeline-border margin-b-2 sm-padded-r" data-aos="fade-up" data-aos-duration="600">
        <p class="sm-paragraph padded-l-1">{{item.description }}</p>
      </div>
      {% endfor %}

    </div>

  </div>

</section>

<!------------------------ CERTIFICACIONES ------------------>

{% if page.mostrar-certificaciones == true %}

<section class="bg-fresa grid-middle">
    <div class="col-12 padded-b-0 padded-t padded sm-padded-md sm-padded-b">
        <h4 class="small-text editable beige-text">
             Mi &uacute;ltima formaci&oacute;n es con:
        </h4>
    </div>
    <div class="col-12 logo-certificacion padded padded-t-2 sm-padded-t-0 sm-padded-md">

        {% for item in page.certificaciones %}
        
            <img src="{{item.logo_image }}" alt="{{item.alt }}" />
        
        {% endfor %}
        
    </div>
</section>

{% endif %}

<!--------------------- CALL TO ACTION ------------------>

<section class="bg-image tall-100 tall-60-sm tall-40-xs bg-attached bg-pos-t" style="background-image:url('{{ page.banner-final_image }}')">

</section>
