---
layout: default
seo:
  title: Home | Hakau
  description:
  social_image:
  keywords:
    - sustainable ecommerce
  hide-from-google: true
---

<!------------------------ BANNER & MENU ------------------>

<header class="bg-image tall-100">

  {% include header-nav.html %}
  
  <div class="banner-home center capped-width-narrow">
      <h2 class="uppercase">Discover a counscious Peru</h2>
      <h1>Hakau is a sustainable e-commerce of fair trade</h1>
  </div>

</header>

<div class="hamburger show-sm">
    <span class="burger-top"></span>
    <span class="burger-middle"></span>
    <span class="burger-bottom"></span>
</div>


<!--------------------  Mobile Menu -------------------->

{% include mobile-menu.html %}
