---
layout: default
seo:
  title: Why Hakau | Hakau
  description:
  social_image:
  keywords:
    - sustainable ecommerce
  hide-from-google: true
hero-banner:
  background: bg-beige
  title: Why Hakau?
  description-1: Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati autem aut ad, quasi saepe adipisci deleniti necessitatibus placeat consequuntur, expedita, unde quae tempora animi! Fugiat aspernatur accusantium dolorum facere consequatur.
  description-2: Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati autem aut ad, quasi saepe adipisci deleniti necessitatibus placeat consequuntur, expedita, unde quae tempora animi! Fugiat aspernatur accusantium dolorum facere consequatur.
founders:
  title: Our founders
  quote1-orange: Creemos en una
  quote2-green: vida consciente
  quote3-orange: en comun - unidad
  founder1_image: /images/hakau-ecommerce9.jpg
  founder1-name: Astrid
  founder1-description: >-
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum consequuntur et dolorem eveniet nulla maxime dicta quos sapiente qui dolores facere numquam. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum consequuntur et dolorem eveniet nulla maxime dicta quos sapiente qui dolores facere numquam.
  founder2_image: /images/hakau-ecommerce10.jpg
  founder2-name: Jeka
  founder2-description: >-
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum consequuntur et dolorem eveniet nulla maxime dicta quos sapiente qui dolores facere numquam. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum consequuntur et dolorem eveniet nulla maxime dicta quos sapiente qui dolores facere numquam.
  founder3_image: /images/hakau-ecommerce9.jpg
  founder3-name: Lu
  founder3-description: >-
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum consequuntur et dolorem eveniet nulla maxime dicta quos sapiente qui dolores facere numquam. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum consequuntur et dolorem eveniet nulla maxime dicta quos sapiente qui dolores facere numquam.
quote: Working with small businesses and supporting local economy
values:
  image: https://source.unsplash.com/8Ogfqvw15Rg/1600x1600
final-banner:
  image: /images/hakau-banner2.jpg
  quote: Small changes make a big difference
  cta-name: Conoce nuestras ofertas
  cta-url: 
---

<!------------------------ BANNER & MENU ------------------>

<header class="bg-beige">

  {% include header-nav.html %}
  
  <div class="grid padded">
    <div class="col-6_sm-12-top">
      <h1 class="uppercase green-text text-8 line-height-md-2">{{page.hero-banner.title }}</h1>
    </div>
    <div class="col-6_sm-12-bottom padded-lg md-padded-r padded-b-0">
      <p class="dark-text">{{page.hero-banner.description-1 }}</p>
      <p class="dark-text">{{page.hero-banner.description-2 }}</p>
    </div>
  </div>

  <div class="grid padded-b-lg padded-t">
    <div class="col-3">
      <img src="" alt="">
    </div>
    <div class="col-6 why-hakau">
      <img src="/images/hakau-icon32.png" alt="">
    </div>
    <div class="col-3">
      <img src="" alt="">
    </div>
  </div>

</header>

<!--------------------  MOBILE MENU -------------------->

<div class="hamburger show-md">
  <span class="burger-top"></span>
  <span class="burger-middle"></span>
  <span class="burger-bottom"></span>
</div>

{% include mobile-menu.html %}

<!--------------------  OUR FOUNDERS -------------------->

<section class="padded-b">
  
  <div class="grid capped-width-v-narrow relative padded-t">

    <div class="col-6 border-r-black padded-t-lg"></div>
    <div class="col-6"></div>

    <div class="col-12 center padded">
      <h3 class="large-text uppercase editable">{{page.founders.title }}</h3>
    </div>

    <div class="col-6 border-r-black padded-t-lg"></div>
    <div class="col-6"></div>
  </div>

</section>

<!--------------------  FOUNDERS -------------------->

<section>

  <div class="grid padded-lg padded-t-0">

    <div class="col-6_sm-12 padded-r sm-padded-r-0">
      <h3 class="text-4 padded-b">
        <span class="orange-text">{{page.founders.quote1-orange }}</span>
        <span class="green-text">{{page.founders.quote2-green }}<br></span>
        <span class="orange-text">{{page.founders.quote3-orange }}</span>
      </h3>
      <div class="support-small right">
        <img src="/images/hakau-icon3.png" alt="hakau support small">
      </div>
    </div>

    <!-- FOUNDER 1 -->
    <div class="col-6_sm-12 grid">
      <div class="col-12 padded-r-lg sm-padded-r-0 sm-padded-l-lg">
        <div class="bg-image square" style="background-image:url('{{ page.founders.founder1_image }}')"></div>
      </div>
      <div class="col-12 padded-r-lg sm-padded-l-lg sm-padded-r-0 padded-b margin-founders-neg1">
        <div class="bg-orange padded white-text">
          <h2>{{page.founders.founder1-name }}</h2>
          <p>{{page.founders.founder1-description }}</p>
        </div>
      </div>
    </div>

    <!-- FOUNDER 2 -->
    <div class="col-6_sm-12 grid">
      <div class="col-12 padded-r-lg padded-t">
        <div class="bg-image square"style="background-image:url('{{ page.founders.founder2_image }}')"></div>
      </div>
      <div class="col-12 padded-r-lg margin-founders-neg2">
        <div class="bg-green padded white-text">
          <h2>{{page.founders.founder2-name }}</h2>
          <p>{{page.founders.founder2-description }}</p>
        </div>
      </div>
    </div>

    <!-- FOUNDER 3 -->
    <div class="col-6_sm-12 grid">
      <div class="col-12 padded-l-lg padded-t">
        <div class="bg-image square"style="background-image:url('{{ page.founders.founder3_image }}')"></div>
      </div>
      <div class="col-12 padded-l-lg margin-founders-neg1">
        <div class="bg-dark padded white-text">
          <h2>{{page.founders.founder3-name }}</h2>
          <p>{{page.founders.founder3-description }}</p>
        </div>
      </div>
    </div>

  </div>

</section>

<!--------------------  QUOTE -------------------->

<section>
  <div class="bg-dark white-text padded-md center relative">
    <div class="black-heart center">
      <img src="/images/hakau-icon1.png" alt="">
    </div>
    <div class="capped-width-v-narrow">
      <h3 class="xlarge-text line-height-md-2">{{page.quote }}</h3>
    </div>
  </div>
</section>

<!--------------------  VALUES -------------------->

<section>
  <div class="grid bg-beige">

    <div class="col-6_sm-12 grid relative">
      <div class="col-4 padded-r-25 ladder-black">
        <img src="/images/hakau-icon27.png" alt="">
      </div>
      <div class="col-8 padded-lg orange-text">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt beatae reiciendis rerum consequatur. Quas necessitatibus similique nobis.</p>
        <h4 class="normal-text uppercase regular">Social Responsability - Passion</h4>
        <h4 class="normal-text uppercase regular">Honesty - Quality</h4>
        <h4 class="normal-text uppercase regular">Union - Love</h4>
      </div>
      
    </div>

    <div class="col-6_sm-12 padded">
      <div class="bg-image portrait" style="background-image:url('{{ page.values.image }}')"></div>
    </div>

  </div>
</section>

<!-------------------- FINAL QUOTE -------------------->

<section class="bg-image bg-attached tall-100 tall-70-md banner-quote bg-overlay bg-overlay-gradient" style="background-image:url('{{ page.final-banner.image }}')">
  <div class="capped-width-v-narrow">
    <h3 class="uppercase line-height-md-3">{{page.final-banner.quote }}</h3>
      <div class="margin-t-3">
        <a class="btn" href="{{page.final-banner.cta-url }}">{{page.final-banner.cta-name }}</a>
      </div>
  </div>
</section>
