<section class="bg-beige padded padded-b-lg counter-section xs-padded-md">

    <div class="grid">

        <div class="col-12 center padded padded-b-sm">
          <h3>{{page.counter.title }}</h3>
        </div>

        {% if page.url contains '/es' %}
        {% for item in site.data.counter.es %}
        <div class="{{item.column-size }} center padded" id="{{item.id }}">
          <img src="{{item.image }}" class="img-counter">
          <div class="text-4 counter" data-TargetNum="{{item.number }}" data-Speed="2000"></div>
          <p class="small-text margin-t-1">{{item.description }}</p>
        </div>
        {% endfor %}
        <div class="col-12_sm-12 left padded-t">
          <p class="xs-text">{{page.counter.disclaimer }}</p>
        </div>

      {% else %}

        
        {% for item in site.data.counter.en %}
        <div class="{{item.column-size }} center padded" id="{{item.id }}">
          <img src="{{item.image }}" class="img-counter">
          <div class="text-4 counter" data-TargetNum="{{item.number }}" data-Speed="2000"></div>
          <p class="small-text margin-t-1">{{item.description }}</p>
        </div>
        {% endfor %}
        <div class="col-12_sm-12 left padded-t">
          <p class="xs-text">{{page.counter.disclaimer }}</p>
        </div>

      {% endif %}
  
    </div>
  
</section>