<section class="bg-beige padded green-text">

    <div class="grid">
  
      <div class="col-12 center padded padded-b-sm">
        <h3 class="xlarge-text regular line-height-md-3">{{site.data.counter.title }}</h3>
      </div>

      {% for item in site.data.counter.elements %}
      <div class="{{item.column-size }} center padded" id="{{item.id }}">
        <img src="{{item.image }}" alt="">
        <div class="text-4 counter" data-TargetNum="{{item.number }}" data-Speed="2000"></div>
        <p class="small-text">{{item.description }}</p>
      </div>
      {% endfor %}
      <div class="col-12_sm-12 left padded-t">
        <p class="xs-text">*Cifras basadas en los productos y aliados ofrecidos en la web en Abril 2022.</p>
      </div>
  
    </div>
  
  </section>