<nav class="col-12 grid hide-md fixed-menu">
    <div class="col-3_md-5 padded-l-2 padded-t-1 no-hover">
        {% if page.url contains '/es/' %}
        <a href="/es/inicio" class="logo">
            <img src="{{ site.data.site-settings.general.logo-white_image }}" alt="{{ site.data.site-settings.seo.title }}">
        </a>

        {% else %}
        <a href="/index" class="logo">
            <img src="{{ site.data.site-settings.general.logo-white_image }}" alt="{{ site.data.site-settings.seo.title }}">
        </a>
        {% endif %}
    </div>

    <div class="menu-links col-8_md-7 padded-r-2 padded-t-2 hide-sm">
        
        {% if page.url contains '/es/' %}
        <div class="col-2 dropdown-shop grid">
            <a class="btn-subtle dropdown-title" href="{{ site.data.navigation.shop-url-es }}">{{ site.data.navigation.shop-name-es }}</a>
            <div class="dropdown-content grid">
                {% for item in site.data.navigation.shop-menu-es %}
                    <a class="col-2 btn-subtle" href="{{ item.url }}">{{ item.name }}</a>
                {% endfor %}
            </div>
        </div>
        
        {% for item in site.data.navigation.menu-es %}
            <a class="col-1 btn-subtle" href="{{ item.url }}">{{ item.name }}</a>
        {% endfor %}

        {% else %}
        <div class="dropdown-shop">
            <span class="dropdown-title"> {{ site.data.navigation.shop-name-en }}</span>
            <div class="dropdown-content grid">
                {% for item in site.data.navigation.shop-menu-en %}
                    <a class="col-4" href="{{ item.url }}">{{ item.name }}</a>
                {% endfor %}
            </div>
        </div>
        
        {% for item in site.data.navigation.menu-es %}
            <a class="btn-subtle" href="{{ item.url }}">{{ item.name }}</a>
        {% endfor %}

        {% endif %}
    </div>
    
    <div class="lang-links-white col-1 padded-t-2 hide-md">
        <a href="/index">{{ site.data.navigation.translation.lang-1 }}</a>
        <a href="/es/inicio.html">{{ site.data.navigation.translation.lang-2 }}</a>
    </div>

</nav>