<nav class="col-12 grid hide-md fixed-menu">
    <div class="col-3_md-5 padded-l-2 padded-t-1 no-hover">
        <a href="/index" class="logo">
            {% if page.hero-banner.background == 'bg-beige' or 'bg-white' %}
                <img src="{{ site.data.site-settings.general.logo-dark_image }}"/>
                {% else %}
                <img src="{{ site.data.site-settings.general.logo-white_image }}"/>
            {% endif %}
        </a>
    </div>
    <div class="{% if page.hero-banner.background == 'bg-beige' or 'bg-white' %}menu-links-dark {% else %} menu-links {% endif %} col-8_md-7 padded-r-2 padded-t-2 hide-sm">
            <a href="{{ site.data.navigation.menu.link-2.url }}">{{ site.data.navigation.menu.link-2.name }}</a>
            <a href="{{ site.data.navigation.menu.link-3.url }}">{{ site.data.navigation.menu.link-3.name }}</a>
            <a href="{{ site.data.navigation.menu.link-4.url }}">{{ site.data.navigation.menu.link-4.name }}</a>
            <a href="{{ site.data.navigation.menu.link-5.url }}">{{ site.data.navigation.menu.link-5.name }}</a>
            <a href="{{ site.data.navigation.menu.link-6.url }}">{{ site.data.navigation.menu.link-6.name }}</a>
            <a href="{{ site.data.navigation.menu.link-7.url }}">{{ site.data.navigation.menu.link-7.name }}</a>
    </div>
    <div class="lang-links col-1 padded-t-2 hide-md">
        <a href="/index">{{ site.data.navigation.translation.lang-1 }}</a>
        <a href="/es/inicio.html">{{ site.data.navigation.translation.lang-2 }}</a>
    </div>

</nav>