<!-- Styles  -->
<style> 

    :root {

        /* COLOR PALETTE */
        --dark: {{ site.data.design.palette.dark_color }} ;
        --white: {{ site.data.design.palette.white_color }} ;
        --beige: {{ site.data.design.palette.beige_color }} ;
        --orange: {{ site.data.design.palette.orange_color }} ;
        --green: {{ site.data.design.palette.green_color }} ;

        /* BACKGROUND COLORS */
        --body-background: {{ site.data.design.backgrounds.body-background_color }} ;
        --mobile-menu-background: {{ site.data.design.backgrounds.body-mobile-menu-background_color }} ;
        
        /* TEXT COLORS - STYLES */
        --body-font-family: {{ site.data.design.text.body-font-family }} ;
        --menu-text: {{ site.data.design.text.menu-text_color }} ;
        --mobile-menu-text: {{ site.data.design.text.mobile-menu-text_color }} ;
        --footer-text: {{ site.data.design.text.footer-text_color }} ;
    }

</style> 