<!-- Styles  -->
<style> 

    :root {

        /* COLOR PALETTE */
        --dark: {{ site.data.design.palette.dark_color }} ;
        --white: {{ site.data.design.palette.white_color }} ;
        --beige: {{ site.data.design.palette.beige_color }} ;
        --orange: {{ site.data.design.palette.orange_color }} ;
        --green: {{ site.data.design.palette.green_color }} ;
        --green2: {{ site.data.design.palette.green2_color }} ;
        --green3: {{ site.data.design.palette.green3_color }} ;

        /* BACKGROUND COLORS */
        --body-background: {{ site.data.design.backgrounds.body-background_color }} ;
        --mobile-menu-background: {{ site.data.design.backgrounds.mobile-menu-background_color }} ;
        
        /* TEXT COLORS - STYLES */
        --body-font-family: {{ site.data.design.text.body-font-family }} ;
        --menu-text: {{ site.data.design.text.menu-text_color }} ;
        --mobile-menu-text: {{ site.data.design.text.mobile-menu-text_color }} ;
        --footer-text: {{ site.data.design.text.footer-text_color }} ;

        /* LOGO SIZE */
        --logo-size: {{ site.data.site-settings.general.logo-size }} ;
        --mobile-logo-size: {{ site.data.site-settings.general.mobile-logo-size }} ;
        --explore-logo-size: {{ site.data.site-settings.general.explore-logo-size }} ;
    }

</style> 