<!-- Styles  -->
<style> 

    :root {

        --negro: {{ site.data.design.palette.negro_color }} ;
        --blanco: {{ site.data.design.palette.blanco_color }} ;
        --rojo: {{ site.data.design.palette.rojo_color }} ;
        --fresa: {{ site.data.design.palette.fresa_color }} ;
        --amarillo: {{ site.data.design.palette.amarillo_color }} ;
        --amarillo-claro: {{ site.data.design.palette.amarillo-claro_color }} ;
        --celeste: {{ site.data.design.palette.celeste_color }} ;
        --plomo: {{ site.data.design.palette.plomo_color }} ;

        --header-background: {{ site.data.design.backgrounds.header-background_color }} ;
        --reto-background: {{ site.data.design.backgrounds.reto-background_color }} ;
        --visto-background: {{ site.data.design.backgrounds.visto-background_color }} ;
        --body-background: {{ site.data.design.backgrounds.body-background_color }} ;
        --servicios-background: {{ site.data.design.backgrounds.servicios-background_color }} ;
        --reserva-llamada-background: {{ site.data.design.backgrounds.reserva-llamada-background_color }} ;
        --testimonios-background: {{ site.data.design.backgrounds.testimonios-background_color }} ;
        --suscribete-background: {{ site.data.design.backgrounds.suscribete-background_color }} ;
        --frase-background: {{ site.data.design.backgrounds.frase-background_color }} ;
        --footer-background: {{ site.data.design.backgrounds.footer-background_color }} ;
        --mobile-menu-background: {{ site.data.design.backgrounds.mobile-menu-background_color }} ;

        --body-font-family: {{ site.data.design.texto.body-font-family }} ;
        --menu-text: {{ site.data.design.texto.menu-text_color }} ;
        --mobile-menu-text: {{ site.data.design.texto.mobile-menu-text_color }} ;
        --footer-text: {{ site.data.design.texto.footer-text_color }} ;

        --titulos-font-family: {{ site.data.design.texto-especial.titulos-font-family }} ;

        --company-logo-size: {{ site.data.design.me-viste.company-logo-size }} ;
        --certificacion-logo-size: {{ site.data.design.certificaciones.certificacion-logo-size }} ;
        --certificacion-logo-size-mobile: {{ site.data.design.certificaciones.certificacion-logo-size-mobile }} ;


        --logo-size: {{ site.data.site-settings.general.logo-size }} ;
        --mobile-logo-size: {{ site.data.site-settings.general.mobile-logo-size }} ;
        --explore-logo-size: {{ site.data.site-settings.general.explore-logo-size }} ;
        
    }

</style> 