<!-- Instagram section -->

<section class="grid-right padded padded-r-0">

    <div class="col-8_sm-12">

        <a href="#" class="padded-05"> Let's connect </a>
        
        <h4 class="ig-user big-text sm-big-text safari6 safari10"> @picaronstudio </h4>

        <!-- <iframe src="https://cdn.lightwidget.com/widgets/da049e7ff15650688a366b0a917510af.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe> -->

    </div>

</section>