<footer class="bg-dark padded padded-b-0 white-text">

  <div class="grid padded-b">
    <div class="col-3_sm-12">
      <h4 class="orange-text">Suscribe</h4>
      <p>Conoce a nuevos aliados y accede a ofertas exclusivas</p>
    </div>
  </div>

  <hr>

  <!-- SOCIALS -->
  <div class="grid">
    <div class="col-3_sm-12 padded">

      {% if page.url contains '/es/' %}
      <p class="semi-bold">{{site.data.navigation.social-quote-es }}</p>
      {% else %}
      <p class="semi-bold">{{site.data.navigation.social-quote-en }}</p>
      {% endif %}

      <nav class="social">

        {% for item in site.data.navigation.social %}
          <a href="{{item.url }}" target="_blank">
              <i class="{{item.icon }}"></i>
          </a>
        {% endfor %}
  
      </nav>
    </div>
    <div class="col-9_sm-12 padded padded-r-1">
      <iframe src="https://cdn.lightwidget.com/widgets/04cef1cdbd26509db9d8894e5e8d434a.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>
    </div>
  </div>
 
  <!-- FOOTER LINKS ENGLISH-->
  {% if page.url contains '/es/' %}
  <div class="grid relative">
    <div class="col-3_sm-12 padded">
      <h4>{{site.data.navigation.footer-menu1-title-es }}</h4>
      <nav class="footer-links">
        {% for item in site.data.navigation.footer-menu1-es %}
          <a href="{{item.url }}">{{item.name }}</a>
        {% endfor %}
      </nav>
    </div>
    <div class="col-3_sm-12 padded">
      <h4>{{site.data.navigation.footer-menu2-title-es }}</h4>
      <nav class="footer-links">
        {% for item in site.data.navigation.footer-menu2-es %}
          <a href="{{item.url }}">{{item.name }}</a>
        {% endfor %}
      </nav>
    </div>
    <div class="col-4_sm-12 padded">
      <h4>{{site.data.navigation.footer-menu3-title-es }}</h4>
      <nav class="footer-links">
        {% for item in site.data.navigation.footer-menu3-es %}
          <a href="{{item.url }}">{{item.name }}</a>
        {% endfor %}
      </nav>
    </div>
    <div class="col-2-middle conectamos-desde hide-sm">
      <img src="/images/hakau-icon29.png" alt="hakau conectamos desde el corazon">
    </div>

    <div class="conectamos-desde-mob show-sm">
      <img src="/images/hakau-icon29.png" alt="hakau conectamos desde el corazon">
    </div>

  </div>
  {% else %}
  <div class="grid relative">
    <div class="col-3_sm-12 padded">
      <h4>{{site.data.navigation.footer-menu1-title-en }}</h4>
      <nav class="footer-links">
        {% for item in site.data.navigation.footer-menu1-en %}
          <a href="{{item.url }}">{{item.name }}</a>
        {% endfor %}
      </nav>
    </div>
    <div class="col-3_sm-12 padded">
      <h4>{{site.data.navigation.footer-menu2-title-en }}</h4>
      <nav class="footer-links">
        {% for item in site.data.navigation.footer-menu2-en %}
          <a href="{{item.url }}">{{item.name }}</a>
        {% endfor %}
      </nav>
    </div>
    <div class="col-4_sm-12 padded">
      <h4>{{site.data.navigation.footer-menu3-title-en }}</h4>
      <nav class="footer-links">
        {% for item in site.data.navigation.footer-menu3-en %}
          <a href="{{item.url }}">{{item.name }}</a>
        {% endfor %}
      </nav>
    </div>
    <div class="col-2-middle conectamos-desde hide-sm">
      <img src="/images/hakau-icon29.png" alt="hakau conectamos desde el corazon">
    </div>

    <div class="conectamos-desde-mob show-sm">
      <img src="/images/hakau-icon29.png" alt="hakau conectamos desde el corazon">
    </div>

  </div>
  {% endif %}

  <div class="grid-bottom">
    <div class="col-8 hakau-footer">
      <img src="/images/hakau-icon21.png" alt="hakau logo">
    </div>
    <div class="col-4 white-text picaron padded-1 right sm-padded-r-0 sm-text-left">
      <p>Copyright 2022 | Website by<a href="https://www.picaronstudio.com" target="_blank">Picaron Studio</a></p>
    </div>
  </div>
  
  {% include cookie-banner.html %}


</footer>
