<footer class="bg-dark padded padded-b-0 white-text">

  <div class="grid padded-b">
    <div class="col-3_sm-12">
      <h4 class="orange-text">Suscribe</h4>
      <p>Conoce a nuevos aliados y accede a ofertas exclusivas</p>
    </div>
  </div>

  <hr>

  <!-- SOCIALS -->
  <div class="grid">
    <div class="col-3_sm-12 padded">
      <p class="semi-bold">Sé parte de esta<br>común - unidad</p>
      <nav class="social">

        {% if site.data.navigation.social.instagram == true %}
          <a href="{{ site.data.navigation.social.instagram_url }}" target="_blank">
            <i class="fab fa-instagram"></i>
          </a>
        {% endif %}

        {% if site.data.navigation.social.facebook == true %}
          <a href="{{ site.data.navigation.social.facebook_url }}" target="_blank">
          <i class="fab fa-facebook"></i>
          </a>
        {% endif %}
  
        {% if site.data.navigation.social.tik-tok == true %}
          <a href="{{ site.data.navigation.social.tik-tok_url }}" target="_blank">
            <i class="fab fa-tiktok"></i>
          </a>
        {% endif %}

        {% if site.data.navigation.social.youtube == true %}
          <a href="{{ site.data.navigation.social.youtube_url }}" target="_blank">
            <i class="fab fa-youtube"></i>
          </a>
        {% endif %}

        {% if site.data.navigation.social.linkedin == true %}
          <a href="{{ site.data.navigation.social.linkedin_url }}" target="_blank">
            <i class="fab fa-linkedin"></i>
          </a>
        {% endif %}
  
        {% if site.data.navigation.social.pinterest == true %}
          <a href="{{ site.data.navigation.social.pinterest_url }}" target="_blank">
            <i class="fab fa-pinterest"></i>
          </a>
        {% endif %}
  
        {% if site.data.navigation.social.twitter == true %}
          <a href="{{ site.data.navigation.social.twitter_url }}" target="_blank">
            <i class="fab fa-twitter"></i>
          </a>
        {% endif %}
  
      </nav>
    </div>
  </div>

  <!-- FOOTER LINKS -->
  <div class="grid">
    <div class="col-3_sm-12 padded">
      <h4>SHOP</h4>
      <nav class="footer-links">
        {% for item in site.data.navigation.footer-menu1 %}
          <a href="{{item.url }}">{{item.name }}</a>
        {% endfor %}
      </nav>
    </div>
    <div class="col-3_sm-12 padded">
      <h4>WHY HAKAU?</h4>
      <nav class="footer-links">
        {% for item in site.data.navigation.footer-menu2 %}
          <a href="{{item.url }}">{{item.name }}</a>
        {% endfor %}
      </nav>
    </div>
    <div class="col-4_sm-12 padded">
      <h4>CUSTOMER SERVICE</h4>
      <nav class="footer-links">
        {% for item in site.data.navigation.footer-menu3 %}
          <a href="{{item.url }}">{{item.name }}</a>
        {% endfor %}
      </nav>
    </div>
    <div class="col-2-middle conectamos-desde">
      <img src="/images/hakau-icon29.png" alt="hakau conectamos desde el corazon">
    </div>
  </div>

  <div class="grid-bottom">
    <div class="col-8 hakau-footer">
      <img src="/images/hakau-icon21.png" alt="hakau logo">
    </div>
    <div class="col-4 white-text picaron padded-1 right">
      <p>Copyright 2022 | Website by<a href="https://www.picaronstudio.com" target="_blank">Picaron Studio</a></p>
    </div>
  </div>

  {% include cookie-banner.html %}

</footer>
