---
layout: default
---


<!------------------------ BANNER & MENU ------------------>

<header class="header-why header-why-xs">

    {% include header-nav-why.html %}
    
    <div class="grid hide-sm">
  
      <div class="col-9_md-8 grid">
  
        <div class="col-12 grid bg-orange">
          <div class="col-8_md-7_sm-12 padded-lg">
            <img class="allies-icon2" src="/images/hakau-icon2.png" alt="">
            <img class="allies-icon3" src="/images/hakau-icon15.png" alt="">
            <img class="allies-icon4" src="/images/hakau-icon14.png" alt="">
            <div class="padded-t-30 md-padded-t-60">
              <h1 class="margin-b-1">{{page.hero-banner.title }}</h1>
            </div>
          </div>
          
          <div class="col-4_md-5_sm-12">
            <div class="bg-image bg-pos-t banner-allies" style="background-image:url('{{ page.hero-banner.banner1_image }}')">
              <h4>{{page.seo.keywords}}</h4>
            </div>
          </div>
        </div>
  
        <div class="col-12">
          <div class="bg-beige padded-md"></div>
        </div>
      
      </div>
  
      <div class="col-3_md-4 grid">
        <div class="col-12 bg-green relative bg-image square" style="background-image:url('/images/hakau-icon31.png')">
          <img class="allies-icon1" src="/images/hakau-icon13.png" alt="">
        </div>
        <div class="col-12 bg-beige">
          <div class="bg-image bg-pos-t portrait-md" style="background-image:url('{{ page.hero-banner.banner2_image }}')"></div>
        </div>
      </div>
  
    </div>
  
    <div class="grid show-sm">
      <div class="col-12 bg-orange grid">
  
        <div class="col-8 padded-lg">
          <img class="allies-icon2" src="/images/hakau-icon2.png" alt="">
            <img class="allies-icon3" src="/images/hakau-icon15.png" alt="">
            <img class="allies-icon4" src="/images/hakau-icon14.png" alt="">
            <div class="padded-t-30 md-padded-t-60 sm-padded-t-30 xs-padded-t-50">
              <h1 class="margin-b-1">{{page.hero-banner.title }}</h1>
            </div>
        </div>
  
        <div class="col-4">
          <div class="bg-green relative bg-image square" style="background-image:url('/images/hakau-icon31.png')">
            <img class="allies-icon1" src="/images/hakau-icon13.png" alt="">
          </div>
        </div>
  
        <div class="col-12">
          <div class="bg-image bg-pos-t banner-allies" style="background-image:url('{{ page.hero-banner.banner1_image }}')">
            <h4>{{page.seo.keywords}}</h4>
          </div>
        </div>
  
      </div>
    </div>
      
  </header>
  
  <!--------------------  MOBILE MENU -------------------->
  
  <div class="hamburger show-md" onclick="openNav()">
    <span class="burger-top"></span>
    <span class="burger-middle"></span>
    <span class="burger-bottom"></span>
  </div>
  
  {% include mobile-menu.html %}
  
  <!--------------------  ALLIES --------------------> 

  <section>
  
    <div class="grid-top bg-beige allies-stories relative padded-t md-padded-t-lg">
  
      <div class="col-3_sm-12 padded padded-l-lg relative sm-padded xs-padded-r-15">
        <h2 class="margin-t-2">{{page.allies-quote }}</h2>
        <img class="allies-icon6" src="/images/hakau-icon5.png" alt="">
      </div>
  
      <div class="col-9_sm-12 allies-stories__tab-container left grid" id="allies-buttons">
  
        {% for item in page.allies %}
          <button class="col-4_sm-6 allies-stories__tab allies-stories__tab--{{item.id }} {% if item.active == true %} allies-stories__tab--active {% endif %}" data-tab="{{item.id }}">
            
            {% if item.hover-active == true %}
            <div class="hover-container-gallery" style="background-image:url('{{item.image }}')">
              <div class="hover-overlay-gallery">
                <div class="hover-inner-gallery padded">
                    <h4> {{item.title }} </h4>
                </div> 
              </div>
            </div>
            
            {% else %}
            <div class="hover-container-gallery square" style="cursor:default !important;background-image:url('{{item.image }}')">
            </div>
            {% endif %}
  
          </button>
        {% endfor %}
        
      </div>
  
      <!-- Allies stories -->
      {% for item in page.allies-stories %}
      <div class="col-12 grid allies-stories__content allies-stories__content--{{item.id }} {% if item.active == true %} allies-stories__content--active {% endif %}">
  
        <div class="col-12 grid-middle bg-green relative">
  
            <div class="col-4_md-3_sm-12">
              <img class="allies-icon5" src="/images/hakau-icon32.png" alt="">
            </div>
            
            <div class="col-8_md-9_sm-12 grid-middle banner-stories">
  
              <img class="allies-icon7" src="/images/hakau-icon33.png" alt="">
  
              <div class="col-5_md-4_sm-12 relative hide-sm">
                <div class="ally-image bg-image portrait-md md-portrait-md" style="background-image: url('{{ item.image }}')">
                </div>
              </div>
  
              <div class="col-7_md-8_sm-12 padded-xlg padded-l padded-r-lg md-padded-r-md md-padded-l-0 sm-padded-md sm-padded-t-15">
                <h3 class="margin-b-2">{{item.title }}</h3><h5 class="margin-b-05">{{item.name }}</h5>
                <span class="allies-nick">/{{item.nickname }}/</span>
                <div class="padded-t-1 orange-text">
                  <p>{{item.location }}</p>
                </div>
                <div class="padded-t-2">
                  <p>{{item.description }}</p>
                </div>
                <a class="btn btn-green3 margin-t-2" href="{{item.button-url }}">{{item.button-name }}</a>
              </div>
            
            </div>
          
        </div>
  
        <div class="col-12 grid allies-slider-container">
  
          {% for gallery in item.gallery limit: 8 %}
          
          <div class="col-2_sm-5_xs-11 center">
            <div class="slider-item">
              <div class="bg-image landscape {{gallery.image-position }}" style="background-image:url('{{ gallery.gallery_image }}')">
              </div>
            </div>
          </div>
  
          {% endfor %}
  
        </div> 
  
  
      </div>
      {% endfor %}
  
  </div>
  
  </section>
  
  <!--------------------  VIDEO -------------------->
  
  <section class="padded-md youtube-section sm-padded-b-lg">
  
    <div class="grid capped-width-narrow">
      <div class="col-12 padded-md center">
        <h3>En Hakau somos Ayllu</h3>
      </div>
      <div class="col-12 padded-b">
        <div class="embed-container">
  
          <iframe src="https://www.youtube.com/embed/{{page.youtube-id }}" frameborder="0" allowfullscreen></iframe>
    
        </div>
      </div>
    </div>
  
  </section>
  
  <!--------------------  BECOME AN ALLY -------------------->
  
  <section>
    <div class="bg-orange white-text padded-md xs-padded-t-lg xs-padded-b-lg center relative">
      <div class="orange-heart center">
        <img src="/images/hakau-icon12.png" alt="">
      </div>
      <div class="capped-width-v-narrow">
        <h3 class="xlarge-text line-height-md-2 become-ally-xs">{{page.become-ally.title }}</h3>
        <p>{{page.become-ally.description }}</p>
        <div class="margin-t-3">
          <a class="btn" href="{{page.become-ally.cta-url }}">{{page.become-ally.cta-name }}</a>
        </div>
      </div>
    </div>
  </section>
  
  <!--------------------  GALLERY TITLE -------------------->
  
  <section class="padded-b-1 center padded-md padded-t-0">
    
    <div class="grid-middle capped-width-narrow relative padded-t">
  
      
      <div class="col-3_xs-2 grid relative" data-aos="fade-left" data-aos-duration="500">
        <span class="bullet"></span><div class="col-12 border-b-black"></div>
      </div>
  
      <div class="col-6_xs-8-bottom center padded">
        <h3 class="large-text uppercase editable">{{page.gallery.title }}</h3>
        <p>{{page.gallery.description }}</p>
      </div>
  
      <div class="col-3_xs-2 grid relative" data-aos="fade-right" data-aos-duration="500">
        <div class="col-12 border-b-black"></div><span class="bullet2"></span>
      </div>
     
  
    </div>
  
  </section>
  
  <!--------------------  POP UP GALLERY -------------------->
  
  <section class="padded center padded-t-0">
  
    <div class="gallery grid-center padded-1" id="lightgallery">
  
      {% for item in page.gallery-items %}
      <a class="{{item.column-size }}" href="{{item.popup_image }}">
          <div class="hover-container-gallery" style="background-image:url('{{item.background_image }}')">
              <div class="hover-overlay-gallery">
                  <div class="hover-inner-gallery padded">
                      <h4> {{item.text-hover}} </h4>
                  </div>
              </div>
          </div>
      </a>
      {% endfor %}
  
    </div>
    
  </section>