---
layout: default
---

<!------------------------ BANNER & MENU ------------------>

<header class="bg-image tall-100 tall-60-md tall-60-sm bg-pos-t" style="background-image:url('{{ page.hero-banner.banner_image }}')">

    {% include header-nav.html %}
    
    <div class="banner-home center capped-width-narrow">
        <h2 class="uppercase">{{page.hero-banner.quote }}</h2>
        <h1>{{page.hero-banner.descriptor }}</h1>
        <div class="margin-t-2">
          <a class="btn" href="{{page.hero-banner.cta-url }}">{{page.hero-banner.cta-name }}</a>
        </div>
    </div>
    
  
  </header>
  
  <!--------------------  MOBILE MENU -------------------->
  
  <div class="hamburger show-md">
    <span class="burger-top"></span>
    <span class="burger-middle"></span>
    <span class="burger-bottom"></span>
  </div>
  
  {% include mobile-menu.html %}
  
  <!--------------------  WHAT IS HAKAU -------------------->
  
  <section class="padded-b">
    
    <div class="grid capped-width-v-narrow relative padded-t">
  
      <div class="col-6 border-r-black padded-t-lg" data-aos="fade-up" data-aos-duration="500"></div>
      <div class="col-6"></div>
  
      <div class="col-12 center padded">
        <h3 class="large-text uppercase editable" data-aos="fade-up" data-aos-duration="500">{{page.hakau-world.what-is-hakau }}</h3>
      </div>
  
      <div class="col-6 border-r-black padded-t-lg" data-aos="fade-up" data-aos-duration="500"></div>
      <div class="col-6"></div>
    </div>
  
  </section>
  
  <!--------------------  HANAN -------------------->
  
  <section class="bg-orange padded padded-tb-sm relative">

    <div class="hakau-k">
      <img src="/images/hakau-icon33.png" alt="">
    </div>
  
    <div class="grid-middle white-text">
  
      <div class="col-4_sm-12 padded-sm hide-sm">
        <h4 class="uppercase editable">Hanan</h4>
        <p>{{page.hakau-world.hanan-p1 }}</p>
        <p>{{page.hakau-world.hanan-p2 }}</p>
      </div>
  
      <div class="col-4_sm-12 padded-sm center">
        <img src="/images/hakau-icon6.png" class="hakau-icon">
        <p class="text-4">HA</p>
      </div>

      <div class="col-4_sm-12 padded-sm show-sm">
        <h4 class="uppercase editable">Hanan</h4>
        <p>{{page.hakau-world.hanan-p1 }}</p>
        <p>{{page.hakau-world.hanan-p2 }}</p>
      </div>
  
      <div class="col-4_sm-12 padded-sm center">
        <div class="hover-image-container bg-radius-xxlg">
          <div class="bg-image-hover bg-radius-xxlg landscape-md" style="background-image:url('{{ page.hakau-world.hanan_image }}')"></div>
        </div>
        
        <div class="margin-t-1 margin-b-1">
          <a class="btn" href="{{page.hakau-world.hanan-cta-url }}">{{page.hakau-world.hanan-cta-name }}</a>
        </div>
        <p>/Hanan/</p>
      </div>
  
    </div>
  
  </section>
  
  <!--------------------  KAY -------------------->
  
  <section class="bg-green padded padded-tb-sm">
  
    <div class="grid-middle white-text">
  
      <div class="col-4_sm-12 padded-sm hide-sm">
        <h4 class="uppercase editable">Kay</h4>
        <p>{{page.hakau-world.kay-p1 }}</p>
        <p>{{page.hakau-world.kay-p2 }}</p>
      </div>
  
      <div class="col-4_sm-12 padded-sm center">
        <img src="/images/hakau-icon7.png" class="hakau-icon">
        <p class="text-4">KA</p>
      </div>

      <div class="col-4_sm-12 padded-sm show-sm">
        <h4 class="uppercase editable">Kay</h4>
        <p>{{page.hakau-world.kay-p1 }}</p>
        <p>{{page.hakau-world.kay-p2 }}</p>
      </div>
  
      <div class="col-4_sm-12 padded-sm center">
        <div class="hover-image-container bg-radius-xxlg">
          <div class="bg-image-hover bg-radius-xxlg landscape-md" style="background-image:url('{{ page.hakau-world.kay_image }}')"></div>
        </div>
        
        <div class="margin-t-1 margin-b-1">
          <a class="btn" href="{{page.hakau-world.kay-cta-url }}">{{page.hakau-world.kay-cta-name }}</a>
        </div>
        <p>/Kay/</p>
      </div>
  
    </div>
  
  </section>
  
  <!--------------------  UKU -------------------->
  
  <section class="bg-dark padded padded-tb-sm">
  
    <div class="grid-middle white-text">
  
      <div class="col-4_sm-12 padded-sm hide-sm">
        <h4 class="uppercase editable">Uku</h4>
        <p>{{page.hakau-world.uku-p1 }}</p>
        <p>{{page.hakau-world.uku-p2 }}</p>
      </div>
  
      <div class="col-4_sm-12 padded-sm center">
        <img src="/images/hakau-icon8.png" class="hakau-icon">
        <p class="text-4">U</p>
      </div>

      <div class="col-4_sm-12 padded-sm show-sm">
        <h4 class="uppercase editable">Uku</h4>
        <p>{{page.hakau-world.uku-p1 }}</p>
        <p>{{page.hakau-world.uku-p2 }}</p>
      </div>
  
      <div class="col-4_sm-12 padded-sm center">
        <div class="hover-image-container bg-radius-xxlg">
          <div class="bg-image-hover bg-radius-xxlg landscape-md" style="background-image:url('{{ page.hakau-world.uku_image }}')"></div>
        </div>
        
        <div class="margin-t-1 margin-b-1">
          <a class="btn" href="{{page.hakau-world.uku-cta-url }}">{{page.hakau-world.uku-cta-name }}</a>
        </div>
        <p>/Uku/</p>
      </div>
  
    </div>
  
  </section>
  
  <!--------------------  COUNTER -------------------->
  
  {% include counter.html %}
  
  <!--------------------  ALLIES -------------------->
  
  <section class="relative">
  
    <div class="grid">
  
      <div class="col-3 bg-green padded">
        <div class="ally-image-neg">
          <div class="bg-image bg-radius-xxxlg portrait-md" style="background-image:url('{{ page.allies.ally_image }}')"></div>
        </div>
      </div>
  
      <div class="col-9 grid relative">
    
        <div class="col-12 grid">
          <div class="col-4 border-r-black padded-t"></div>
          <div class="col-8"></div>
          <div class="col-12 padded-sm padded-l-5">
            <h3 class="large-text uppercase">{{page.allies.title }}</h3>
          </div>
          <div class="col-4 border-r-black padded-t"></div>
          <div class="col-8"></div>
        </div>
  
        <!-- PRODUCT IMAGE -->
        <div class="col-6-bottom padded-lg md-padded padded-t-30 padded-b">
          <div class="hover-container bg-radius-xxxlg" style="background-image:url('{{ page.allies.product_image }}')">
            <div class="hover-overlay">
              <div class="hover-inner padded center">
                <a class="btn" href="{{page.allies.product-cta-url }}">{{page.allies.product-cta-name }}</a>
              </div>
            </div>
          </div>
        </div>
  
        <!-- ALLY STORY -->
        <div class="col-6 padded-lg">
          <div>
            <h3 class="uppercase">{{page.allies.ally-name }}</h3>
            <p>{{page.allies.ally-nickname }}</p>
            <p>{{page.allies.ally-hometown }}</p>
          </div>
          <div class="padded-t">
            <p>{{page.allies.ally-description }}</p>
          </div>
          <div class="margin-t-2">
            <a class="btn btn-orange" href="{{page.allies.ally-cta-url }}">{{page.allies.ally-cta-name }}</a>
          </div>
        </div>
  
      </div>
  
    </div>

    <div class="peruvian-handmade">
      <img src="/images/hakau-icon14.png" alt="hakau peruvian handmade">
    </div>
  
  </section>
  
  <!--------------------  BEST SELLERS -------------------->

  <section>

    <div class="grid best-sellers padded-lg padded-r padded-b">

      <div class="col-12 padded-b-0">
        <h2>Our best sellers</h2>
      </div>

      <div class="col-3 padded padded-l-0">
        <h4>Create a conscius life in <span>common-unity</span></h4>
        <a class="btn btn-orange" href="">Shop</a>
      </div>

      <div class="col-9 grid">
        {% for item in page.featured-products %}
       
          <div class="col-4_sm-12 padded-1 center">
            <a href="">
              <div class="product-hover">
                <img src="{{item.first_image }}" alt="{{item.title }}">
                {% if item.second_image %}
                  <img src="{{item.second_image }}" class="product-img-top" alt="{{item.title }}">
                {% endif %}
              </div>
              <h3 class="margin-b-05">{{item.title }}</h3>
              <p>{{item.price }}</p>
            </a>
          </div>
        
        {% endfor %}
      </div>

    </div>

  </section>
  
  <!-------------------- SHOP COLLECTIONS -------------------->
  
  <section>
  
    <div class="grid padded horizontal-scroll">
  
      {% for item in page.collections %}
      <div class="col-6_sm-12 padded-sm center">
        <div class="bg-beige padded-lg">
          <h3 class="green-text">{{item.name }}</h3>
          <p>{{item.description }}</p>
          <div class="margin-b-1">
            <a class="btn btn-green" href="{{item.cta-url }}">{{item.cta-name }}</a>
          </div>
          <p class="xs-text">{{item.small-text }}</p>
        </div>
        <div class="bg-image landscape {{item.image-position }}" style="background-image:url('{{ item.image }}')"></div>
      </div>
      {% endfor %}
  
    </div>
  
  </section>
  
  <!-------------------- FINAL QUOTE -------------------->
  
  <section class="bg-image bg-attached bg-overlay bg-overlay-gradient tall-100 tall-60-md banner-quote" style="background-image:url('{{ page.final-banner.image }}')">
    <div class="capped-width-v-narrow">
      <h3 class="uppercase line-height-md-3">{{page.final-banner.quote }}</h3>
        <div class="margin-t-3">
          <a class="btn" href="{{page.final-banner.cta-url }}">{{page.final-banner.cta-name }}</a>
        </div>
    </div>
  </section>
  
