---
layout: no-footer
---


<section class="grid-middle bg-dark center explore tall-100 relative padded-md padded-b-0" id="explore">

  <div class="explore-k">
      <img src="/images/hakau-icon2.png" alt="">
  </div>

  <div class="col-12-bottom padded-b">
    {% if page.url contains '/es/' %}
      <a href="/es/inicio.html" class="logo-explore">
          <img src="{{ site.data.site-settings.general.explore-logo_image }}">
      </a>
    {% else %}
      <a href="/index.html" class="logo-explore">
        <img src="{{ site.data.site-settings.general.explore-logo_image }}">
      </a>
    {% endif %}
  </div>

  <nav class="col-12 grid explore-links relative">

      <div class="col-4 hide-sm"></div>
      <div class="col-4_sm-12">
        {% if page.url contains '/es/' %}
          {% for item in site.data.navigation.explore-es %}
          <a class="btn-green3" href="{{ item.url }}">{{ item.name }}</a>
          {% endfor %}
        {% else %}
          {% for item in site.data.navigation.explore-en %}
          <a class="btn-green3" href="{{ item.url }}">{{ item.name }}</a>
          {% endfor %}
        {% endif %}
      </div>
      <div class="col-4 hide-sm"></div>

      <div class="explore-conectamos">
          <img src="/images/hakau-icon14.png" alt="hakau conectamos desde el corazon">
      </div>

  </nav>

  <div class="col-7_sm-10-bottom hakau-footer-exp left">
      <img src="/images/hakau-icon21.png" alt="hakau logo">
  </div>

  <div class="col-3_sm-1"></div>

  <nav class="col-2_sm-1-middle social-menu-explore">

      {% for item in site.data.navigation.social %}
      <a href="{{item.url }}" target="_blank">
          <i class="{{item.icon }}"></i>
      </a>
      {% endfor %}

  </nav>

</section>