---
layout: default
---

{% include header-nav.html %}

<section class="grid padded capped-width-wide">

    <div class="padded-1 col-9_md-12 blog-content sm-padded-0">

        <div class="intro padded-1 padded-r-lg sm-padded-r">

            {% for item in page.categories %}
            <span class="tag"> {{ item }}</span>
            {% endfor %}

            <h1> {{ page.title }} </h1>
            <h5 class="short-descriptor">{{page.short-descriptor }}</h5>

            <p class="post-info"> {{ page.author }} | {{ page.post-date }} </p>

        </div>
        <div class="padded-1 padded-r-lg sm-padded-r justify">

            {{content}}

        </div>

    </div>

    <!------------------ SIDEBAR  --------------------------------->
    <aside class="padded-1 col-3_md-12">

        <div class="sidebar-item padded-1">

            <div class="margin-b-1">
                <a href="/about">
                    <h4> {{page.sidebar.about-hakau-title }} </h4>
                </a>
            </div>

            <p>{{page.sidebar.description-1 }}</p>
            <p>{{page.sidebar.description-2 }}</p>

        </div>

        <div class="sidebar-item padded-1">
        
            <a href="{{page.sidebar.featured-product-url }}">
                <h4> {{page.sidebar.featured-product-title }}  </h4>

                <div class="bg-image square" style="background-image:url('{{page.sidebar.featured-product_image }}')"></div>

            </a>

        </div>

        <div class="sidebar-item padded-1">
            <h4> {{page.sidebar.recent-posts-title }} </h4>

            <nav class="recent-posts-nav"> 
                {% for post in site.posts limit:8 %}
                     <a href="{{post.url}}"> {{post.title}}</a>
                {% endfor %}
            </nav>

        </div>

        <!-- <div class="sidebar-item padded-1">
            <h4> {{page.sidebar.explore-categories-title }} </h4>

            <nav>
                
                {% for archive in site.archives limit:8 %}
                <a href="{{archive.url }}"> {{archive.category }}</a>
                {% endfor %}
            </nav>

        </div> -->

    </aside> <!-- end sidebar-->

</section>


<!-- {% include related-posts.html %} -->
